<template>
  <Component />
  <hr />

  <input v-model="toChildMsg" >
  <child />
</template>

<script>
// Vue2_ Event Bus : 데이터를 컴포넌트끼리 전달, 비표준 방식
// Vue3_ Provide/Inject : 컴포넌트 간 데이터 전달
import Component from './Component.vue'
import Child from './Child.vue'
import { provide, computed } from 'vue'

export default {
  components: {
    Component,
    Child
  },
  data () {
    return {
      toChildMsg: 'ㅎㅇㅎㅇ~'
    }
  },
  provide() {
    return {
      msg: '메시지~',
      toChildMsg: computed(() => this.toChildMsg)
    }
  }
}
</script>
