<template>
  <div class="hello">
    <h3 v-for="user in users" :key="user.id">{{user.name}} {{user.email}}</h3>
    <p>
      For a guide and recipes on how to configure / customize this project,
      <br>check out the
      <a href="https://cli.vuejs.org" target="_blank" rel="noopener">vue-cli documentation</a>
    </p>
  </div>
</template>

<script>

export default {
  name: "List",
  data() {
    return {
      users: []
    }
  },
  methods: {
    retrieveUsers () {
      // http.get("/api/v1/list").then(resp => {
      //   this.users = resp.data;
      //   console.log(resp.data);
      // }).catch(e => {
      //   console.log(e);
      // })
    }
  },
  mounted () {
    this.retrieveUsers();
  }
}
</script>

<style scoped>
h3 { margin: 40px 0 0; }
ul { list-style-type: none; padding: 0; }
li { display: inline-block; margin: 0 10px; }
a { color: #42b983; }
</style>
