<template>

  <div class="side-bar">
    <div class="row g-5">

      <div class="col-md-2">
        <side-bar />
      </div>
      <div class="col-md-10">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          Abc
        </h3>
      </div>

    </div>
  </div>

</template>

<script>
import SideBar from "@/components/SideBar";

export default {
  name: "PageList",
  components: {
    SideBar
  }
}
</script>

<style scoped>

</style>
