<template>
  <!-- 사용자 입력을 v-model 로 연결하기 -->
  <label>이름 : </label>
  <input type="text" v-model="result.name" placeholder="이름" />
  <br />
  <label>나이 : </label>
  <input type="number" v-model="result.age" placeholder="나이" />
  <br />
  <label>성별 : </label>
  <label>남</label>
  <input type="radio" v-model="result.gender" name="gender" value="male" />
  <label>여</label>
  <input type="radio" v-model="result.gender" name="gender" value="female" />
  <br />
  <label>취미 : </label>
  <span v-for="hb in hobby_opt" :key="hb">
    <label>{{ hb }}</label>
    <input type="checkbox" v-model="result.hobby" :value="hb" />
  </span>
  <br />
  <label>비번 : </label>
  <input type="password" v-model="result.password" />
  <br />
  <label>국가 : </label>
  <select v-model="result.country">
    <option v-for="ctr in country_opt" :key="ctr">
      {{ ctr }}
    </option>
  </select>
  <br />
  <!-- -->
  <label>날짜 : </label>
  <input type="date" />
  <br />
  <label>시간 : </label>
  <input type="time" />
  <br />
  <label>색깔 : </label>
  <input type="color" />
  <br />
  <label>범위 : </label>
  <input type="range" min="1" max="100" />

  <hr />
  <h4 style="background-color: darkgray">입력결과</h4>
  {{ result }}
  <hr />
  <p v-for="res in result">{{ res }}</p>
</template>

<script>
import { reactive } from 'vue'

export default {
  setup() {
    const name = ''
    const age = 0
    const gender = 'female'
    const password = ''
    const country = 'KOR'
    const country_opt = ['KOR', 'CHN', 'JPN']
    const hobby = ['골프']
    const hobby_opt = ['골프','테니스','클라이밍','스쿠버다이빙']

    const result = reactive({
      name,
      age,
      gender,
      password,
      country,
      hobby
    })

    return {
      result,
      country_opt,
      hobby_opt
    }
  }
}
</script>
