<template>
  <p>{{ `[${msg1}] & [${msg2}]` }}</p>
  <p>{{ `msg1: ${msg1}` }}</p>
  <p>{{ `msg2: ${msg2}` }}</p>
  <hr />

  <Component v-model:msg1="msg1" v-model:msg2="msg2" /><!-- Vue3 에서는 여러 개의 v-model 을 지원함 -->
</template>

<script>
import Component from './Component.vue'

export default {
  components: {
    Component
  },
  data() {
    return {
      msg1: '메시지',
      msg2: '메시지2'
    }
  }
}
</script>
