<template>
  <div>
    <div>
      메시지1 : <input :value="msg1" @input="$emit('update:msg1', $event.target.value)" />
    </div>
    <div>
      메시지2 : <input :value="msg2" @input="$emit('update:msg2', $event.target.value)" />
    </div>
  </div>
</template>

<script>
export default {
  props: ['msg1', 'msg2'],
  // 이벤트를 정의하기 위해서는 컴포넌트의 emits 옵션에 이벤트명을 지정하면 된다.
  emits: ['update:msg1', 'update:msg2']
}
</script>
