<template>
  <div class="page-wrapper">
    <div class="page-wrap-grey">
      <div class="page-wrap-center">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10">

          <div class="flex-center">
            <div id="auth-left">
              <div class="auth-logo">
                <a href=""></a><h1 class="auth-title"><i class="bi bi-app-indicator"></i></h1>
              </div>
              <h1 class="auth-title mt-3">Sign-in</h1>
              <p class="auth-subtitle mb-5">Input your data to register to our website</p>

              <div>
                <!-- <form> -->
                <div class="row">
                  <div class="col-6">
                    <div class="form-group position-relative has-icon-left mb-3">
                      <input type="id" id="id" class="form-control form-control-xl" placeholder="ID">
                      <div class="form-control-icon">
                        <i class="bi bi-envelope-paper"></i>
                      </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-3">
                      <input type="password" id="pwd1" class="form-control form-control-xl" placeholder="Password">
                      <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group position-relative has-icon-left mb-3">
                      <input type="text" id="name" class="form-control form-control-xl" placeholder="Name">
                      <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                      </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-3">
                      <input type="password" id="pwd2" class="form-control form-control-xl" placeholder="Confirm Password">
                      <div class="form-control-icon">
                        <i class="bi bi-shield-lock"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-3">
                    <div class="form-group position-relative ml-2 mb-2">
                      <input type="text" id="postCode" class="form-control form-control-xl" placeholder="PostCode" disabled>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="form-group position-relative has-icon-left mb-2">
                      <input type="text" id="addr1" class="form-control form-control-xl" placeholder="Address">
                      <div class="form-control-icon">
                        <i class="bi bi-pin-map"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-10">
                    <div class="form-group position-relative has-icon-left mb-3">
                      <input type="text" id="addr2" class="form-control form-control-xl" placeholder="Address">
                      <div class="form-control-icon">
                        <i class="bi bi-pin-map"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="form-group position-relative has-icon-left mb-2">
                      <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5p" @click="openPopup">검색</button>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-10">
                    <div class="form-group position-relative has-icon-left mb-3">
                      <input type="number" id="phone" class="form-control form-control-xl" placeholder="PhoneNumber (-제외)">
                      <div class="form-control-icon">
                        <i class="bi bi-phone"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-2">
                    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5p">인증</button>
                  </div>
                </div>

                <!--
                                      <div class="position-relative mb-2">
                                        <input type="text" class="form-control wd-75 d-inline mr-2" v-model="storeInfo.shopPostalCode" disabled style="height: 38px!important; vertical-align: middle;" />
                                        <input type="text" class="form-control wd-300 d-inline mr-2" v-model="storeInfo.shopAddress" disabled style="height: 38px!important;;vertical-align: middle;" />
                                        <button class="btn btn-primary wd-150 form-control mb-2 mt-2" @click="callAddrSearchPop">우편번호검색</button>
                                        <input type="text" class="form-control" placeholder="상세주소를 입력해주세요" v-model="storeInfo.shopAddressDetail" maxlength="20">
                                      </div>
                -->
                <button class="btn btn-primary btn-block btn-lg shadow-lg mt-11">회원가입</button>
              </div>

              <div class="mt-4 text-lg fs-11 text-dk-gray">
                <p class="d-flex content-center">
                  <span class="px-3"><a href="/signIn" class="text-decoration-none">로그인</a></span>
                </p>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <srch-post-code-popup title="Addr" :visible.sync="visible" />

  </div>
</template>

<script>
import SrchPostCodePopup from "@/components/popup/SrchPostCodePopup";
import { ModalPlugin } from 'bootstrap-vue'

export default {
  name: "SignIn",
  components: {
    SrchPostCodePopup,
    ModalPlugin
  },
  data () {
    return {
      visible: false,
      addrRes: {}
    }
  },
  methods: {
    openPopup () {
      this.visible = !this.visible
    },
    closePopup (result) {
      this.addrRes = result
      this.visible = !this.visible
    }
  }
}
</script>

<style scoped>
</style>
