<template>
  <div v-if="state == 'ok'">
    <div class="row text-right pr-sm-2">
      <small><a href="#" @click="onLogout">Logout</a></small>
    </div>
    <editor />
  </div>
  <div v-else-if="state == 'loading'">Loading...</div>
  <login v-else :email="email" :type="state" @state="state = 'ok'" />
</template>

<script>
import { ref, onBeforeMount } from 'vue'
import { setCookie, getCookie } from '/@utils/cookie'
import useLogin from '/@utils/login'
import Login from '/@components/Login.vue'
import Editor from '/@components/Editor.vue'

export default {
  name: "Admin",
  components: {
    Login,
    Editor
  },
  setup () {
    const state = ref('loading')     // 로그인 상태값 (완료여부)  1.ok: 로그인완료, 2.login: 로그인창을 띄워야함, 3.update: 최초 정보입력창/비번 업데이트창 띄워야함, 4.loading: 토큰 검사중
    const email = ref(getCookie('email'))
    const token = ref(getCookie('token'))
    // 쿠키값  1.stay: 로그인이 유지되어야하는지 여부 저장, 2.email: 로그인하는 이메일 저장, 3.token: 로그인하려는 토큰 저장

    // 마운트 전 Token 검사 수행
    onBeforeMount(() => {
      const { checkToken } = useLogin()
      const auto_login = getCookie('stay') == 'true'

      email.value = email.value == '' ? 'test-email' : email.value
      token.value = token.value == '' ? 'test-token' : token.value

      // 저장된 토큰이나 테스트 토큰으로 정보 받아온다.
      checkToken(email.value, token.value)
        .then((data) => {
          if (data.data == 'ny@gmail.com') {  // state 변수를 update 로 변경해 비번 및 이메일을 새로 입력하도록 함
            state.value = 'update'
            email.value = ''
          } else if (auto_login) {  // stay 라는 쿠키값으로 1) 로그인을 완료시킬지
            state.value = 'ok'
          } else {   // 2) 로그인 화면으로 이동시킬지 결정함
            state.value = 'login'
          }
        }).catch((err) => {
          state.value = 'login'
      })
    })

    const onLogout = (evt) => {
      if (evt) {
        evt.preventDefault()
      }
      setCookie('token', '')  // 토큰 삭제
      state.value = 'login'   // 로그인 화면으로 이동
    }

    return {
      state,
      email,
      onLogout
    }
  }
}
</script>

