<template>
  <!-- https://getbootstrap.com/docs/5.0/examples/  blog > index.html -->
  <main class="container mt-3">
    <div class="row justify-content-md-center">

      <!-- 왼 -->
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">Home</h3>
        <!-- 포스트 내용 -->
        <article class="blog-post" v-for="article in sliced_posts" :key="article.id" :id="'article-' + article.id">
          <h4 class="blog-post-title">{{ article.title }}</h4>
          <p class="blog-post-meta">{{ article.date }}</p>
          <div v-html="article.post" v-if="article.type == 'html'" />
          <markdown id="md" :source="article.post" v-else-if="(type = 'md')" />
        </article>

        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn me-2" :class="[ page == 1 ? 'btn-outline-secondary disabled' : 'btn-outline-primary' ]" @click="page--" href="#">이전</a>
          {{ page }}
          <a class="btn ms-2" :class="[ page == total_pages ? 'btn-outline-secondary disabled' : 'btn-outline-primary' ]" @click="page++" href="#">다음</a>
        </nav>
      </div>

      <!-- 오 -->
      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">Desc</h4>
            <p class="mb-0">
              Studying Vue 3 ! I am going to learn things that are good to know compared to the existing Vue.js and what you should look at once in a new document.<br />
              -Improve component Code reuse<br />-TypeScript Grammar Support<br />
            </p>
          </div>

          <!-- 우측  -->
          <blog-plugin>
            <template v-slot:header>Archives</template>
            <ol class="list-unstyled mb-0">
              <li v-for="(archive, index) in archives" :key="index">
                <a data-bs-toggle="collapse" :data-bs-target="'#archive-' + index" href="#">{{ archive.key }}</a>
                <div class="collapse" :id="'archive-' + index">
                  <ol class="list-unstyled ms-3">
                    <li v-for="post in archive.posts" :key="post.id">
                      {{ post.date.substring(0, 10) + ': '}}
                      <a :href="'#article-' + post.id" @click="onArchive($event, post.id)">{{ post.title.substring(0, 20) }}</a>
                    </li>
                  </ol>
                </div>
              </li>
            </ol>
          </blog-plugin>
          <!-- <div class="p-4">
            <h4 class="fst-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li v-for="(archive, index) in archives" :key="index">
                <a data-bs-toggle="collapse" :data-bs-target="'#archive-' + index" href="#">{{ archive.key }}</a>
                <div class="collapse" :id="'archive-' + index">
                  <ol class="list-unstyled ms-3">
                    <li v-for="post in archive.posts" :key="post.id">
                      {{ post.date.substring(0, 10) + ': '}}
                      <a :href="'#article-' + post.id" @click="onArchive($event, post.id)">{{ post.title.substring(0, 20) }}</a>
                    </li>
                  </ol>
                </div>
              </li>
            </ol>
          </div> -->

          <blog-plugin>
            <template v-slot:header>Elsewhere</template>
            <ol class="list-unstyled">
              <li><a href="https://gitlab.com/neey3/nyf" target="_blank">GitHub</a></li>
              <li><a href="https://www.google.com/" target="_blank">Blog</a></li>
              <li><a href="https://www.naver.com/" target="_blank">Facebook</a></li>
            </ol>
          </blog-plugin>

        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { ref, reactive, onMounted, computed } from 'vue'
import useAxios from '/@utils/axios'
import Markdown from 'vue3-markdown-it'
import BlogPlugin from '/@components/BlogPlugin.vue'

export default {
  name: "Blog",  // Home 의 자식 컴포넌트
  components: {
    Markdown,
    BlogPlugin
  },
  setup () {
    const { axiosGet } = useAxios()
    const posts = reactive([])

    onMounted(() => {
      axiosGet('/db/blog', onSuccess)
    })

    const onSuccess = (data) => {
      // paging
      Object.assign(posts, data.data)  // posts 의 길이를 대입
      total_rows.value = posts.length

      // archives
      /* reduce: 배열을 순차적으로 순회하면서 배열의 값을 누적
        └accumulator: 이전 element 에 대한 콜백함수의 리턴값, currentValue: 현재 처리중인 배열 element  */
      const temp_group = posts.reduce((accumulator, currentValue) => {
        ;(accumulator[currentValue['date'].substring(0, 7)] = // substring(0, 7): 연도와 월별의 문자열 추출  // cf. 일별 분류 시: substring(0, 10)
            accumulator[currentValue['date'].substring(0, 7)] || []).push(currentValue)
        return accumulator
      }, {})

      Object.assign(
          archives,
          Object.keys(temp_group).map((key) => ({
            key: key,
            posts: temp_group[key],
          }))
      )
    }

    // paging
    const rows = ref(5)       // 한 페이지에 출력되는 포스트 수
    const total_rows = ref(0) // 총 포스트 수 (= posts 의 길이)  > blog 데이터를 수신한 시점에 할당해야 함 > onSuccess
    const page = ref(1)       // 현재 보여줄 페이지 번호

    const total_pages = computed(() => {      // 총 포스트 수를 페이지로 환산한 값 (total_rows ÷ row 후 올림)
      return Math.ceil(total_rows.value / rows.value)
    })
    const sliced_posts = computed(() => {     // page 변수값에 따라 posts 에서 필요한 포스트들만 잘라냄
      return posts.slice((page.value - 1) * rows.value, page.value * rows.value)
    })

    // archives
    const archives = reactive([])
    // Archives 에서 포스트를 클릭했을 때 페이지를 찾고, article 의 id 얻기
    const onArchive = (evt, id) => {
      const index = posts.findIndex((post) => post.id == id) + 1
      page.value = Math.ceil(index / rows.value)
    }

    return {
      sliced_posts,
      page,
      total_pages,
      archives,
      onArchive,
    }
  }
}
</script>

<style scoped>
  /* Pagination */
  .blog-pagination { margin-bottom: 4rem; }
  .blog-pagination > .btn { border-radius: 2rem; }
  /* Blog posts */
  .blog-post { margin-bottom: 4rem; }
  .blog-post-title { margin-bottom: .25rem; font-size: 2.5rem; }
  .blog-post-meta { margin-bottom: 1.25rem; color: #727272; }
</style>
