<template>
<!--  <blog />-->
  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <a class="nav-link" :class="{ active: type == 'blog' }" href="#" @click="type = 'blog'">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" :class="{ active: type == 'clip' }" href="#" @click="type = 'clip'">Clips</a>
    </li>
  </ul>
  <div v-is="type"></div>
</template>

<script>
import Blog from '/@components/Blog.vue'
import { ref, defineComponent } from 'vue'

const Clip = defineComponent({
  template: `
    <div class="row">
      <div class="col-sm-6 p-1">
        <div class="card">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/jANE8lpoj2c" title="고양이..ㅎㅎ" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">고양이!</h5>
            <p class="card-text">고양이가 세상을 구한다......</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 p-1">
        <div class="card">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/OD0lYJCiOKo" title="고양이..ㅎㅎㅎ" allowfullscreen></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">고양이!!!</h5>
            <p class="card-text">나만 고양이 없어.....</p>
          </div>
        </div>
      </div>
    </div>
  `
})

export default {
  name: "Home",  // 자식 컴포넌트인 Blog 를 뿌려주는 역할
  components: {
    Blog,
    Clip
  },
  setup () {
    const type = ref('blog')
    return {
      type
    }
  }
}
</script>
