<template xmlns="http://www.w3.org/1999/html">
  <div class="d-flex text-center mt-md-5">
    <main class="form-signin">
      <form @submit="onSubmit">
        <h1 class="h3 mb-3 fw-normal">{{ is_login_form ? 'Sign in' : 'Change Password' }}</h1>

        <small class="text-danger" v-if="invalid == 'no_email'"><b-icon-exclamation-circle-fill style="color: #dc3545;" />&nbsp;The Email Does Not Existed</small>
        <input class="form-control" type="email" placeholder="Email Address" autocomplete="username" ref="ref_email" id="inputEmail" v-model="email" required />

        <small class="text-danger" v-if="invalid == 'wrong_password'">The Password You Entered is Incorrect</small>
        <input class="form-control" type="password" placeholder="Password" autocomplete="current-password" id="inputPassword" v-model="password" required />

        <!-- 비밀번호 변경 -->
        <div v-if="!is_login_form">
          <small class="text-danger" v-if="invalid == 'diff_passwords'">Please Enter Your Password Correctly</small>
          <input class="form-control" type="password" placeholder="New Password" autocomplete="new-password"
                 :class="{ 'is-invalid': invalid == 'diff_passwords' }" id="inputPasswordNew1" v-model="new_password1" required />
          <input class="form-control" type="password" placeholder="New Password" autocomplete="new-password"
                 :class="{ 'is-invalid': invalid == 'diff_passwords' }" id="inputPasswordNew2" v-model="new_password2" required />
        </div>
        <div class="m-3"></div>
        <!-- 로그인 -->
        <div class="checkbox mb-3" v-if="is_login_form">
          <input type="checkbox" v-model="stay" />&nbsp;Stay Signed in
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ is_login_form ? 'Login' : 'Confirm' }}</button>
        <p class="mt-5 mb-3 text-muted"><b-icon-exclamation-circle-fill style="color: #17a2b8;" /> Only Admin Can Access To This Page</p>
      </form>
    </main>
  </div>

</template>

<script>
import {ref, onMounted, inject} from 'vue'
import { setCookie, getCookie } from '/@utils/cookie'
import useLogin from '/@utils/login'
import { BootstrapIconsPlugin } from 'bootstrap-icons-vue'

export default {
  name: "Login",  // 로그인 및 비밀번호 업데이트
  components: { BootstrapIconsPlugin },
  props: {
    email: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'login'
    }
  },
  emits: ['state'],  // Send Event To Parent-component
  setup (props, context) {
    const ref_email = ref(null)
    const stay = ref(false)  // 로그인을 유지할 수 있는 값 (쿠키에 존재)
    const is_login_form = ref(props.type == 'login')
    const email = ref(props.email)
    const password = ref('')
    const new_password1 = ref('')
    const new_password2 = ref('')
    const invalid = ref('ok')
    const { login, updatePassword } = useLogin()

    const toast = inject('toast', '')  // inject 로 toast 받아오기

    stay.value = getCookie('stay') == 'true'

    // 로그인 or 비밀번호 업데이트 (is_login_form 로 구분)
    const onSubmit = (evt) => {
      if (evt) {
        evt.preventDefault()
      }
      invalid.value = 'ok'

      // case(1) Login Form
      if (is_login_form.value) {
        login(email.value, password.value)
          .then((data) => {
            setCookie('email', email.value)
            setCookie('token', data.token)

            if (stay.value) {
              setCookie('stay', 'true')
            } else {
              setCookie('stay', 'false')
              setCookie('token', '')
            }

            context.emit('state')  // Admin 컴포넌트에게, 로그인이 완료됨을 알려주기 위해 state 이벤트 전송
          }).catch((data) => {
            invalid.value = data.rsp
            toast.value = 'The Password You Entered is Incorrect'
        })
      }
      // case(2) Update Pwd Form
      else {
        if (new_password1.value != new_password2.value) {
          invalid.value = 'diff_passwords'
          new_password1.value = new_password2.value = ''
          toast.value = 'Please Enter Your Password Correctly'
        } else if (new_password1.value == 'vue') {
          invalid.value = 'invalid_password'
          new_password1.value = new_password2.value = ''
          toast.value = 'The Password You Entered is Incorrect'
        } else {
          updatePassword(email.value, password.value, new_password1.value)
            .then((data) => {
              password.value = new_password1.value = new_password2.value = ''
              is_login_form.value = true
            }).catch((data) => {
              invalid.value = data.rsp
              toast.value = 'Password Change Failed'
            })
        }
      }
    }

    onMounted(() => {
      // 로그인 화면 첫 진입 시, 이메일 입력란에 포커스 (ref or autofocus 사용)
      ref_email.value.focus()

      // 로그인인지 or 비밀번호 변경인지
      console.log('[로그인? 비밀번호 변경?] >>>  ', props.type == 'update' ? '비밀번호 변경' : '로그인')
    })

    return {
      ref_email,
      stay,
      is_login_form,
      email,
      password,
      new_password1,
      new_password2,
      invalid,
      onSubmit
    }
  }
}
</script>

<style scoped>
.form-signin { width: 100%; max-width: 330px; padding: 15px; margin: auto; }
.form-signin .checkbox { font-weight: 400; }
.form-signin > .form-control { position: relative; box-sizing: border-box; height: auto; padding: 10px; font-size: 16px; }
.form-signin .form-control:focus { z-index: 2; }
.form-signin input[type='email'] { margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }
.form-signin > input[type='password'] { border-top-left-radius: 0; border-top-right-radius: 0; }
</style>
