<template>
  <div class="container pt-5">
    <div>
      <p class="fs-1 mb-0">{{ user_data.name }}</p>
    </div>
    <div>
      <p class="fs-4">{{ user_data.email }}</p>
    </div>
    <!-- Card 컴포넌트 (단, 여기서만 사용할 컴포넌트이므로 이 컴포넌트 내에 생성함) -->
    <div class="row no-gutters" v-for="(d, index) in user_data.resume" :key="index">
      <!-- top: 해당 카드가 가장 위에 그려지는 카드인지 여부, resume: 해당 객체, show: 홀,짝수번에 따라 좌우 교차로 그림 -->
      <Card :top="!index" :resume="d" :show="index % 2 == 1" />
      <div class="col-sm-2 text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col" :class="[ index ? 'border-right' : '']" />
          <div class="col" />
        </div>
        <h3>
          <span class="badge badge-pill border" :class="[ !index ? 'bg-primary text-light ' : 'bg-light text-dark']">{{ new Date(d.date).getFullYear() }}</span>
        </h3>
        <div class="row h-50">
          <div class="col" :class="[ index != user_data.resume.length -1 ? 'border-right' : '']" />
          <div class="col" />
        </div>
      </div>
      <Card :top="!index" :resume="d" :show="index % 2 == 0" />
    </div>
  </div>
</template>

<script>
import { defineComponent, computed } from 'vue'
// import { useStore } from 'vuex' // store 를 setup 함수에서 사용하기 위해 필요
import { useProfile } from '/@compositions/useProfile'
import useAxios from '/@utils/axios'

// defineComponent: (Vue3) 전역 API
const Card = defineComponent({
  name: 'Card',
  props: {
    top: Boolean,
    resume: Object,
    show: Boolean
  },
  setup(props) {},
  template: `
    <div class="col-sm py-2" v-if="show">
      <div class="card" :class="{ 'border-primary bg-primary text-light': top, shadow: top }">
        <div class="card-body">
          <h4 class="card-title" :class="[ top ? 'text-light' : 'text-muted' ]">{{ resume. title }}</h4>
          <hr />
          <p class="card-text">{{ resume.content }}</p>
          <a v-if="resume.URL != 'null'" :href="resume.URL" target="_blank" :class="[ top ? 'text-light' : 'text-primary' ]">link</a>
        </div>
      </div>
    </div>
    <div class="col-sm" v-if="!show"></div>
  `
})

export default {
  name: "Profile",  // 사용자의 이력 정보 (tbl_my_resume)
  components: {
    Card
  },
  setup () {
    // const store = useStore()  // use Vuex
    const { user_data, setAboutMeData } = useProfile()
    const { axiosGet } = useAxios()

    const onSuccess = (data) => {
      // store.dispatch('about_me/setAboutMeData', data.data)  // use Vuex
      setAboutMeData(data.data)
    }
    axiosGet('/db/about-me', onSuccess)

    // const user_data = computed(() => store.getters['about_me/user_data'])  // use Vuex

    return {
      user_data
    }
  }
}

</script>
