<template>
  <div style="position: absolute; top: 60px; right: 10px;">
    <div class="toast show text-white bg-danger" role="alert" v-for="t in toasts.data" :key="t.id">
      <div class="toast-header">
        <img class="rounded me-2" src="../assets/cat.png" alt="nyfapp" width="15" height="15" />
        <strong class="me-auto">Warning</strong>
        <button class="btn-close" type="button" @click="onClose(t.id)"></button>
      </div>
      <div class="toast-body">{{ t.message }}</div>
    </div>
  </div>
</template>

<script>
import { inject, watch, reactive, onMounted } from 'vue'

export default {
  name: "Toast",
  setup () {
    const toast = inject("toast", '')
    const toasts = reactive({
      data: []
    })

    let id = 0
    watch(
      () => toast,
      (n, o) => {
        if (n.value.length > 0) {
          const new_id = id++
          toasts.data.unshift({
            id: new_id,
            message: n.value,
            start: new Date().getTime()  // 객체 생성 시간 (for 일정 시간 뒤 자동 닫힘 기능)
          })
          toast.value = ''
        }
      },
      { deep: true }
    )

    const onClose = (close_id) => {
      toasts.data = toasts.data.filter((i) => i.id != close_id)
    }

    onMounted(() => {
      setInterval(() => {  // 모든 객체의 start 값 감시.
        const now = new Date().getTime()
        toasts.data.forEach((i) => {
          if (now - i.start > 5000) {  // 5초 지난 객체는 onClose 함수 호출
            toasts.data = toasts.data.filter((j) => j.id != i.id)
          }
        })
      })
    })

    return {
      toasts,
      onClose
    }
  }

}
</script>

<style scoped>

</style>
