<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Vue</title>
  </head>
  <body>
    <div id="app">
        <!--  -->
        <p class="title">{{ title }}</p>
        <counter></counter>
        <counter></counter>
        <counter></counter>

        <!-- Props -->
        <!-- Sting 타입의 title 과 배열값 data 를 받는다. -->
        <hr />
        <props-component title="MyComponent-Props" :data="[1,2,3]"></props-component> <!-- MpComponent 컴포넌트에 Props 를 넘기는 방법 -->

        <!-- Non-Props -->
        <hr />
        <non-props-component msg="Non-Props"></non-props-component>
        <non-props-component2 msg="Non-Props2"></non-props-component2>

    </div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
