<template>
  <div class="my-modal" v-if="visible" @click.self="closePopup">
    <div class="my-modal__dialog">
      <header class="my-modal__header">
        <span>{{title}}</span>
        <button @click="$emit('update:visible', !visible)">Close</button>
      </header>
      <div class="my-modal__body">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FeePop",
  props: {
    visible: {
      type: Boolean,
      require: true,
      default: false
    },
    title: {
      type: String,
      require: false,
    },
  },
  created() {
  },
  mounted() {
  },
  data() {
    return {
    }
  },
  watch: {
  },
  components: {
  },
  methods: {
    openPopup () {
      this.$emit('update:visible', false)
    },
    closePopup() {
      this.$emit('closePopup')
    }
  }
}
</script>

<style scoped>
.my-modal {
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow: auto;
  margin: 0;
}
.my-modal__dialog {
  left: 50%;
  top: 75px;
  width: 600px;
  position: absolute;
  background: #fff;
  margin-bottom: 50px;
}
header {
   font-size: 28px;
   font-weight: bold;
   line-height: 1.29;
   padding: 16px 16px 0 25px;
   position: relative;
 }
body {
   padding: 25px;
   min-height: 150px;
   max-height: 412px;
   overflow-y: scroll;
}
</style>
