<template>
    <div class="post-code-popup overflow-y" ref="contentBodyScroll" v-if="isOpen" style="z-index: 100;">
      <div class="popup">
        <div class="popup_title bg-sky fc-w">
          <h3 class="title">우편번호 검색</h3>
          <h3 class="close ta-r pr-10" @click="close">닫기</h3>
        </div>

        <div style="" class="daum_popup mapping_auto use_suggest">
          <div class="popup_post_type2 height-100">
            <div class="popup_head bd-charcoal-b01">
              <div class="form_search">
                <div class="fld_inside bd-charcoal-b01">
                  <div class="post_search ph-p cf">
                    <div class="wrap_tf_keyword pt-02">
                      <input type="text" ref="region_name" id="region_name" v-model="regionName" class="tf_keyword bd-n size-100" style="padding-right: 65px;" name="region_name" placeholder="예) 강남구 테헤란로 98길 8" @keyup.enter="goSearch()">
                      <div class="post-input-delect" v-if="regionName" @click="regionName = ''"><i class="icon-close hp-40 lh-40px fc-b"></i></div>
                    </div>
                    <button type="button" class="btn_search" @click="goSearch()"><span class="img_post"><i class="icon-search fc-b"></i></span></button>
                  </div>
                </div>
              </div>
            <div id="postCodeSuggestLayer" class="suggest_search">
              <div class="suggestBox box_sub" style="display: none;">
                <div class="baseBox bg"></div>
              </div>
            </div>
            <input type="button" class="focus_content size-100" id="focusContent">

          </div>
            <div class="popup_body">
              <div class="info_body" v-if="firstInit">
                <div class="blit-text-con cf">
                  <p class="blit-icon fs-14">- </p>
                  <p class="blit-text fs-14">도로명, 건물명, 지번, 사서함에 대해 통합검색이 가능합니다.</p>
                </div>
                <div class="blit-text-con mt-10 cf">
                  <p class="blit-icon fs-14">- </p>
                  <p class="blit-text fs-14">우편번호 상세주소가 검색되지 않는 경우 범위 주소로 검색됩니다.</p>
                </div>
                <div class="blit-text-con mt-10 cf">
                  <p class="blit-icon fs-14">- </p>
                  <p class="blit-text fs-14">도로명주소 및 국가기초구역에 대한 자세한 안내는 도로명주소안내시스템을 참고하시기 바랍니다.</p>
                </div>
                <div class="blit-text-con mt-10 cf">
                  <p class="blit-icon fs-14">- </p>
                  <p class="blit-text fs-14">구주소, 신주소명 모두 검색이 가능합니다.</p>
                </div>
              </div>
              <div class="container100 ph-p pv-13" v-if="!firstInit">
                <!--result desc-->
                <div class="desc_post pb-10 bd-b01">
                  <p class="inner_desc fs-14">
                    <span class="bold" v-if="addressList === null">검색결과가 없습니다.</span>
                    &nbsp;&nbsp;검색어에 아래와 같은 조합을 이용하시면 더욱 정확한 결과가 검색됩니다.&nbsp;&nbsp;&nbsp;<em class="fc-c">‘도로명+건물번호’</em>,&nbsp;&nbsp;&nbsp;<em class="fc-c">‘지역명+지번’</em></p>
                </div>
                <!--//result desc-->
                <ul class="list_post" v-if="addressList !== null && addressList.length > 0">
                  <li class="" v-for="(item, idx) in addressList" :key="idx">
                    <div class="container100 pv-10">
                      <p>
                        <span class="fc-wine bold fs-16">{{item.zipNo}}</span>
                      </p>
                      <div class="container100">
                        <div class="blit-text-post-con cf">
                          <div class="blit-icon">도로명</div>
                          <div class="blit-text" @click="selectRegionName" @mouseenter="addUnderLine" @mouseleave="removeUnderLine" :data-zip-code="item.zipNo.trim()" :data-sido="item.sido" :data-sigungu="item.sigungu" :data-gu="setGu(item.lnmAdres)">{{item.lnmAdres}}</div>
                        </div>
                        <div class="blit-text-post-con cf">
                          <div class="blit-icon">지번</div>
                          <div class="blit-text" @click="selectRegionName" @mouseenter="addUnderLine" @mouseleave="removeUnderLine" :data-zip-code="item.zipNo.trim()" :data-sido="item.sido" :data-sigungu="item.sigungu" :data-gu="setGu(item.rnAdres)">{{item.rnAdres}}</div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <!--paging-->
                <div class="container100 ta-c mt-10">
                  <button class="dp-ib wp-40 hp-40 lh-40px ta-c" @click.prevent.stop="prevPage">
                    <i class="icon-arrow_left hp-40 lh-40px"></i>
                  </button>

                  <p class="dp-ib hp-40 lh-40px fc-g fs-14">
                    <span class="fc-b bold">{{currentPage}}</span> / <span>{{totalPage}}</span>
                  </p>

                  <button class="dp-ib wp-40 hp-40 lh-40px ta-c" @click.prevent.stop="nextPage">
                    <i class="icon-arrow_right hp-40 lh-40px"></i>
                  </button>
                </div>
                <!--//paging-->
              </div>

            </div>

          </div>
        </div>

        <div class="post-dim" ref="loadingLayer">
          <div class="loading-box"><img src="//image.smartscore.kr/psn3/loader_circle_blue.svg"></div>
        </div>


      </div>
    </div>

</template>
<script>
  import $ from 'jquery'
  import Vue from 'vue'
  import Native from '../../lib/native'

  export default {
    name: 'PostCodePopup2',
    data () {
      return {
        isOpen: false,
        OsType: '',
        regionName: '',
        firstInit: true,
        addressList: null,
        totalPage: 1,
        currentPage: 1,
        countPerPage: 10,
        resolve: null,
        reject: null,
        backButtonUuid: null
      }
    },
    watch: {
      regionName (nv, ov) {
        return nv
      }
    },
    created () {
      // Vue.prototype.$postCodePopup = this.open
      this.backButtonUuid = history.push({name: this.$options.name, action: this.close})
    },
    mounted () {
      this.OsType = Native.getOsType()
    },
    methods: {
      setGu (txt) {
        let _txt = txt.split(' ')
        let dong = _txt[2]
        return dong
      },
      async open () {
        let _testResult = false
        _testResult = await this.beforePossibleSearch()
        console.log('_testResult', _testResult)
        if (_testResult) {
          // 자사 api
          // $(this.$el).show()
          this.isOpen = true
        } else {
          // 다음 api
          this.$daumPost().then(res => {
            return res
          })
        }
        return new Promise((resolve, reject) => {
          this.resolve = resolve
          this.reject = reject
        })
      },
      close () {
        this.firstInit = true
        this.regionName = ''
        this.addressList = {}
        this.totalPage = 1
        this.currentPage = 1
        this.isOpen = false
        this.$destroy(true)
      },
      goSearch (_currentPage = this.currentPage) {
        this.$refs.loadingLayer.style.display = 'block'
        this.firstInit = false
        this.$refs.region_name.blur()
        this.$refs.contentBodyScroll.scrollTop = 0
        this.$http('user.addr_open', { word: this.regionName, currentPage: _currentPage, countPerPage: this.countPerPage }).then((res) => {
          if (res.data.result !== 'fail') {
            if (res.data.length > 0) {
              if (res.data[0].newAddressListAreaCdSearchAll !== undefined) {
                this.addressList = res.data[0].newAddressListAreaCdSearchAll
                this.totalPage = res.data[0].cmmMsgHeader.totalPage
                this.currentPage = res.data[0].cmmMsgHeader.currentPage
                this.$refs.loadingLayer.style.display = 'none'
              }
            } else {
              // console.log('res >>>>>', res)
              this.addressList = res.data
            }
          } else {
            this.regionName = ''
            this.addressList = null
            this.totalPage = 1
            this.currentPage = 1
            this.$refs.loadingLayer.style.display = 'none'
          }
        }).catch(e => {
          console.log('failed----' + e.msg)
        })
      },
      beforePossibleSearch () {
        return new Promise((resolve, reject) => {
          this.$http('user.addr_open', { word: '경복궁', currentPage: 1, countPerPage: 10 }).then((res) => {
            if (res.data.result !== 'fail') {
              resolve(true)
            } else {
              // fail 시
              resolve(false)
            }
          }).catch(e => {
            // reject(e)
            resolve(false)
          })
        })
      },
      selectRegionName (e) {
        let _data = {}
        this.$http('user.sido_search', {sido: e.target.dataset.sido.substring(0, 2), sigungu: e.target.dataset.sigungu, gu: e.target.dataset.gu}).then((res) => {
          if (res.data) {
            _data = { zipcode: e.target.dataset.zipCode, address: e.target.innerHTML, sido: e.target.dataset.sido, sigungu: res.data.sigungu }
            if (this.resolve) this.resolve(_data)
            this.close()
          } else {
            _data = { zipcode: e.target.dataset.zipCode, address: e.target.innerHTML, sido: e.target.dataset.sido, sigungu: e.target.dataset.sigungu }
            if (this.resolve) this.resolve(_data)
            this.close()
          }
        })
      },
      addUnderLine (e) {
        $(e.target).addClass('under-line')
      },
      removeUnderLine (e) {
        $(e.target).removeClass('under-line')
      },
      prevPage () {
        if (this.currentPage >= 2) {
          this.currentPage --
          this.goSearch(this.currentPage)
        }
      },
      nextPage () {
        if (this.currentPage >= 1 && this.currentPage < this.totalPage) {
          this.currentPage ++
          this.goSearch(this.currentPage)
        }
      }
    },
    beforeDestroy () {
      history.remove(this.backButtonUuid)
    }
  }
</script>

<style lang="less" scoped>
  @media only screen and (max-device-width: 320px) and (orientation: portrait) {
    .popup {
      width: 95%;
    }

    .popup #layer {
      width: 100% !important;
    }
  }


/*
  .post-code-popup .popup_title {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .post-code-popup .popup_head {
    position: sticky;
    top: 49px;
    z-index: 1;
  }
*/

  .post-code-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /*z-index: 10;*/
    overflow: hidden;
    /*display: none;*/
    align-items: center;
    justify-content: center;

    .popup {
      width: 85vw;
      height: 80vh;
      position: absolute !important;
      margin: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 3px;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
      overflow: hidden;
      background-color: #fff !important;

      .popup_title {
        position: relative;
        padding: 0 15px;
        line-height: 49px;
        height: 49px;
        border-bottom: 1px solid #e0e0e0;
        .title {
          display: block;
          font-weight: 700;
          font-size: 15px;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          overflow: hidden;
          line-height: 48px;
          margin: 0;
        }

        .close {
          line-height: 50px;
          font-weight: normal;
          width: 50px;
          height: 50px;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      .post_frame {
        overflow: hidden;
        height: ~"calc(100% - 49px)";
      }
    }
  }



/***********/
  .daum_popup{
    position:relative;
    width:100%;
    height:~'calc(100% - 49px)';
  }

  .post-code-popup .popup .popup_title{
    position: relative;
    padding: 0 15px;
    line-height: 49px;
    height: 49px;
    border-bottom: 1px solid #e0e0e0;
  }
  .popup_body{
    position:relative;
    width:100%;
    height:~'calc(100% - 47px)';
    overflow-y: auto;
  }


  .post-code-popup .popup .post_frame{
    overflow: hidden;
    height: ~'calc(100% - 49px)';
  }
  .form_search {
    height: 46px;
    border-bottom: 1px solid #363636;
    z-index: 2;
  }
  .form_search .post_search {
    height: 46px;
    padding: 0 65px 0 15px;
    background-color: #fff;
    position: relative;
  }
  .form_search .btn_search {
    position: absolute;
    right: 3px;
    top: 0;
    width: 36px;
    height: 45px;
    background-color: #fff;
    cursor: pointer;
  }
  .suggest_search {
    position: relative;
    top: 0;
    z-index: 999;
  }
  .focus_content {
    width: 0;
    height: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
  }
  .info_body {
    padding: 39px 29px;
    background-color: #fff;
    /*border-bottom: 1px solid #e1e1e1;*/
    /*-webkit-box-shadow: 0 1px #dedede;*/
    /*-moz-box-shadow: 0 1px #dedede;*/
    /*box-shadow: 0 1px #dedede;*/
  }
  .popup_foot {
    padding: 9px 0 16px;
    font-size: 12px;
    color: #888;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: 0;
  }
  .screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px
  }
  .tit_tip {
    display: block;
    width: 24px;
    height: 20px;
    color: #000;
  }
  .desc_tip {
    margin-top: 14px;
    line-height: 22px;
    font-size: 14px;
  }
  .txt_example {
    display: block;
    margin-top: 3px;
    font-size: 13px;
    line-height: 19px;
    color: #008bd3;
    font-size: 14px;
  }
  .desc_tip2 {
    margin-top: 8px;
    line-height: 22px;
    font-size: 14px;
  }
  .post-input-delect{position:absolute; width:35px; height:40px; line-height: 40px; top:2px; right:35px;}

  .list_post{position:relative; width:100%; }
  .list_post li{position:relative; width:100%; border-bottom:1px solid #e0e0e0; font-size: 14px; }
  .list_post li .blit-text.under-line{text-decoration: underline;}
  .list_post li .blit-text-post-con{padding-bottom: 5px;}
  .list_post li p{padding-bottom: 5px;}

  .blit-text-post-con{position:relative; width:100%;}
  .blit-text-post-con .blit-icon{position:relative; width:50px; float:left; font-size: 14px; color:#00d6ee; text-align: center;}
  .blit-text-post-con .blit-text{position:relative; width:~'calc(100% - 50px)'; float:left; font-size: 14px;}

  .post-dim{display:none; position:absolute; width:100%; height:~'calc(100% - 49px)'; bottom:0; left:0; background-color: rgba(255, 255, 255, 0.7);}
  .post-dim .loading-box{position:absolute; width:44px; height:44px; top:50%; left:50%; margin-top: -22px; margin-left: -22px;}
  .post-dim .loading-box img{width:100%; heigth:100%; animation: spin 1s infinite linear;}

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

</style>
