<template>
  <p><input type="text" :value="abbr" /></p><!-- v-bind 는 템플릿으로 변수값 변경 안됨 -->
  <p><input type="text" v-model="normal" /></p><!-- v-model 은 가능 -->
  <p><span>mouse on >>>  </span><abbr :title="normal">{{ abbr }}</abbr></p>
</template>

<script >
import { ref } from 'vue'

export default {
  setup() {
    const abbr = ref('www')
    const normal = ref('World Wide Web')

    return {
      abbr,
      normal
    }
  }
}
</script>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
