<template>
  <header>
    <hgroup class="my-5">
      <h4>ㅎㅇㅎㅇ</h4>
      <em>{{ today }}</em>
    </hgroup>
  </header>
  <todo-list-container />
</template>

<script>
import { inject } from 'vue'
import TodoListContainer from '../components/TodoListContainer.vue'

export default {
  name: "App",
  components: {
    TodoListContainer
  },
  setup () {
    const today = inject('today')
    return {
      today
    }
  }
}
</script>

<style scoped>
hgroup {
  text-align: center;
  font-family: 'Arial Bold';
}
hgroup h4 {
  font-width: bolder;
}
</style>
