<template>
  <todo-list-new />
  <section class="container">
    <div class="row justify-content-center m-2">
      <todo-list-main />
    </div>
  </section>
</template>

<script>
import { ref, provide, readonly } from 'vue'
import { useStorage } from '../compositions/storage'
import TodoListNew from './TodoListNew.vue'
import TodoListMain from './TodoListMain.vue'

export default {
  name: "TodoListContainer",
  components: {
    TodoListNew,
    TodoListMain
  },
  setup() {
    const todos = ref([])
    const { loadTodos, saveTodos, storage_id } = useStorage()

    provide('todos', readonly(todos)) // todos 변수를 자식 컴포넌트에서 변경할 수 없도록 readonly 속성 부여

    // const addTodo = (job, date) => {}
    // const removeTodo = (id) => {}
    // const completeTodo = (id) => {}

    const initTodos = (init_todos) => { //
      todos.value = init_todos
    }
    const addTodo = (job, date) => {
      todos.value.push({
        id: storage_id.value++,
        job: job,
        date: date,
        completed: false
      })
      saveTodos(todos)
    }
    const removeTodo = (id) => {
      todos.value.splice(id, 1)
      // 삭제 후 id 를 순서대로 다시 정렬
      todos.value.forEach((todo, idx) => {
        todo.id = idx
      })
      saveTodos(todos)
    }
    const completeTodo = (id) => {
      todos.value.find(todo => todo.id == id).completed = true
      saveTodos(todos)
    }

    provide('addTodo', addTodo)
    provide('removeTodo', removeTodo) // 특정 id 의 객체를 todos 배열로부터 제거
    provide('completeTodo', completeTodo) // 객체의 completed 속성을 true 로 변경

    loadTodos(initTodos)
  }
}
</script>

<style scoped>

</style>
