<template>
  <div class="row">
    <div class="col">
      <span class="span">&nbsp;</span>&nbsp;
      <strong>{{ state }}</strong>
    </div>
    <div class="col">
      <div class="btn-group float-end">
        <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">리스트 필터</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li v-for="key in Object.keys(filters)" :key="key"> <!-- Object.keys 함수로 객체의 키 값들만 순회함 -->
            <a class="dropdown-item" @click="filter = key">{{ filters[key].str }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, watch, computed, inject } from 'vue'

export default {
  name: "TodoListMenu",  // TodoList 에 전달할 값(data)을 정하는 컴포넌트
  emits: ['change-filter'],
  setup (props, context) {
    const filters = inject('filters')
    const filter = ref(0)
    const state = computed(() => { // state: 계산된 속성값. 메뉴가 변경되었을 때 filters 객체로부터 str 속성을 뽑아 알려줌
      return filters[filter.value].str
    })
    watch ( // 사용자가 선택한 메뉴로부터 나온 filters 변수의 키 값이 보관된 filter 변수를 감시함. 이 값이 변경될 때마다 해당 키 값을 emit 을 이용해 부모 컴포넌트인 TodoListLMain 에 전달함
        () => filter.value,
        (filter) => {
          context.emit('change-filter', filter)
        }
    )
    return {
      state,
      filter,
      filters
    }
  }
}
</script>

<style scoped>
  .span { background-color: blue }
</style>
