<template>
  <!-- TodoListMenu 컴포넌트로부터 사용자가 선택한 메뉴를 받을 수 있도록 change-filter 이벤트를 리스닝함
      => 변화된 값을 받으면 onChangeFilter 함수를 호출하고, 이 함수는 filter 의 값을 변경함
      => 변경된 값은 watch 가 인지하고, 연관된 필터 함수를 호출하여 새로운 데이터를 TodoList 컴포넌트에 전달함  -->
  <todo-list-menu class="p-0" :change-filter="onChangeFilter" />
  <div class="mb-3" v-for="key in Object.keys(filtered_todos)" :key="key">
    <div v-if="use_category">
      <em>{{ key }}</em>
    </div>
    <!-- filtered_todos 변수: 날짜별로 분류된 할일 목록이 들어 있음.
        이 카테고리의 키 값만큼 v-for 로 순회하여 각 데이터를 TodoList 로 전달함  -->
    <todo-list :data="filtered_todos[key]" />
  </div>
  <div class="my-2 mt-5">
    <span class="span">&nbsp;</span>&nbsp;
    <strong>처리못한 일</strong>
  </div>
  <todo-list :data="pending_todos" />
</template>

<script>
import { ref, provide, inject, watch } from 'vue'
import { useFilter } from '../compositions/filters.js'
import TodoListMenu from './TodoListMenu.vue'
import TodoList from './TodoList.vue'

export default {
  name: "TodoListMain",   // 필터링된 데이터를 다루는 컴포넌트 ( TodoListMenu 와 TodoList 를 직접적으로 사용할 부모 컴포넌트 ). TodoListMenu 로부터 filters 의 키 값을 전달받아 연계된 함수를 호출하여 요구된 배열을 TodoList 에 전달함
  components: {
    TodoListMenu,
    TodoList
  },
  setup (props) {
    const {
      getPendingTodos,
      getActiveTodayTodos,
      getCompletedTodayTodos,
      getAllTodayTodos,
      getAllTodos
    } = useFilter()
    const filter = ref(0)
    const filtered_todos = ref([])
    const pending_todos = ref([])
    const use_category = ref(false)
    const todos = inject('todos')

    const filters = {
      0: {
        str: '해야할 일',
        func: getActiveTodayTodos,
        category: false
      },
      1: {
        str: '완료한 일',
        func: getCompletedTodayTodos,
        category: false
      },
      2: {
        str: '오늘의 모든 기록',
        func: getAllTodayTodos,
        category: false
      },
      3: {
        str: '모든 작업',
        func: getAllTodos,
        category: true
      }
    }

    provide('filters', filters)

    /* filter 모듈로부터 필터 함수를 받아 filters 객체를 구성.
      filter 모듈로부터 받은 배열을 날짜별로 다시 분리함. (배열을 특정한 키워드로 분리할 수 있는 기능)  */
    const groupBy = (todos) => {
      return todos.reduce((acc, cur) => {
        acc[cur['date']] = acc[cur['date']] || []
        acc[cur['date']].push(cur)
        return acc
      }, {})
      /* 1) reduce: 인자(콜백함수와 초기값),
        초기값으로 빈객체{}를 사용함 (->콜백함수로 계산된 값들은 모두 저 객체안에 들어가게 됨)
        2) 이 콜백함수는 배열에서 꺼낸 객체의 date 값을 꺼내 acc 의 키로 만들고, 해당 키에 꺼낸 객체를 다시 넣는 작업을 반복함  */
    }

    const onChangeFilter = (filter_idx) => {
      filter.value = Number(filter_idx)
    }

    /* 지정한 변수의 변경을 감시.
      여기서는 filter(사용자가 선택한 메뉴의 값)와 todos 원본 배열의 값을 감시함  */
    watch(
        [() => filter.value, todos.value],
        ([new_filter, new_todos], [old_filter, old_todos]) => {
          pending_todos.value = getPendingTodos(todos)

          if (typeof new_filter != 'undefined') {
            let temp_todos = filters[new_filter].func(todos)
            filtered_todos.value = groupBy(temp_todos)
            use_category.value = filters[new_filter].category
          }
        },
        {
          immediate: true  // TodoListMain 컴포넌트가 생성이 되었을 떄 첫 변화도 즉시 감시하여 선언된 함수를 실행하도록.
        }
    )

    return {
      filter,
      pending_todos,
      filtered_todos,
      use_category,
      onChangeFilter
    }
  },

}
</script>

<style scoped>
.span { background-color: blue }
</style>
