<template>
  <section class="mb-5">
    <div class="container">
      <div class="row justify-content-center m-2">
        <div class="col border border-primary rounded">
          <input class="form-control my-2" type="text"
                 id="todo_input" v-model="job" placeholder="할일을 입력하세요." />
          <div class="row my-2">
            <div class="col-6">
              <input type="date" v-model="date" :min="today" />
            </div>
            <div class="col-6">
              <button class="btn btn-primary btn-sm float-end" type="button" @click="onAddTodo">추가</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { reactive, toRefs, inject, ref } from 'vue'

export default {
  name: "TodoListNew",  // 신규 할일을 추가하는 컴포넌트,
  setup() {
    const today = inject('today')
    const addTodo = inject('addTodo')
    const val_obj = reactive({
      job: '',
      date: today,
      today: today,
    })

    const onAddTodo = () => {
      if (val_obj.job.length > 0) {
        addTodo(val_obj.job, val_obj.date)
        val_obj.job = ''
        val_obj.date = today
      }
    }

    return {
      ...toRefs(val_obj),
      onAddTodo
    }
  }
}
</script>
