<template>
  <table>
    <tr>
      <th v-for="(head, head_idx) in header" :key="'head-' + head_idx">
        {{ head }}
      </th>
    </tr>
    <tr v-for="(row, row_idx) in rows" :key="'row-' + row_idx">
      <td v-for="(data, data_idx) in row" :key="'data-' + data_idx" :colspan="data.colspan || 1">
        {{ data.data }}
      </td>
    </tr>
  </table>
</template>

<script>
export default {
  props: ['header', 'rows'],
}
</script>

<style scoped>
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
</style>
