<template>
  <MyButton sm>sm</MyButton>
  <MyButton>none</MyButton>
  <MyButton lg background-white>lg/bg-white</MyButton>
  <MyButton sm pill text-yellow background-black>sm/pill/yellow/bg-black</MyButton>
  <MyButton md pill text-green background-pink>md/pill/green/bg-pink</MyButton>
  <MyButton lg pill @click.prevent="onClick">lg/pill/onClick</MyButton>
</template>

<script>
import MyButton from './components/MyButton.vue'

export default {
  name: 'App',
  components: {
    MyButton
  },
  methods: {
    onClick(evt) {
      alert('Clicked!')
    }
  }
}
</script>

