<template>
  <div>
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th>NO.</th>
            <th>TITLE</th>
            <th>TYPE</th>
            <th>AREA</th>
            <th>ID</th>
            <th>DATE</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(data, i) in boardList" :key="i">
            <td>{{ data.idx }}</td>
            <td class="text-bold-500" @click="goDetail(data.idx)">{{ data.title }}</td>
            <td>{{ data.type }}</td>
            <td>{{ data.area }}</td>
            <td class="text-bold-500">{{ data.id }}</td>
            <td>{{ data.date }}</td>
            <td><a href="#"><i class="badge-circle badge-circle-light-secondary font-medium-1" data-feather="mail"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "BoardTable",
  props: {
    page: {
      type: String,
      require: false,
    },
    boardList: {
      type: Array,
      default: () => {
        return {}
      }
    }
  },
  created() {
  },
  mounted() {
    if (this.boardList.length) {
      this.list = this.boardList
      console.log(JSON.stringify(this.list))
    }
  },
  data () {
    return {
      list: {}
    }
  },
  methods: {
    goDetail (idx) {
      // this.$router.push({path: '/board-detail', query: { idx: idx, search: this.search }})
      this.$router.push({ name: 'BoardDetail', query: { idx: idx } })
    },
  }
}
</script>

<style scoped>

</style>
