.page-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

/**
    layouts
*/
/*html, body{ width: 100%; height: 100%}*/
/*html { overflow: hidden; overflow-y: scroll; }*/
/*#wrap { min-width: 1100px; }*/
input:focus, button:focus, textarea:focus, a:focus, select:focus { outline: none; }
.cup { cursor: pointer; }
.dp-ib { display: inline-block; }
.dp-n { display: none; }

.ovh { overflow: hidden; }

/* float */
.ft-l {float: left !important; }
.ft-r {float: right !important; }
.ft-n {float: none !important; }

/*  */
.ta-c { text-align: center; }
.ta-l { text-align: left; }
.ta-r { text-align: right; }

/* overflow */
.ovf-x { overflow-x: auto; }
.ovf-y { overflow-y: auto; }
.ovf-h { overflow: hidden; }
.ovf-v { overflow: visible; }
.ovf-xh { overflow-x: hidden; }
.ovf-yh { overflow-y: hidden; }

/* margin */
.mt-5p { margin-top: 5px; }
.mt-5 { margin-top: 5px; }
.mt-11 { margin-top: 11px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-23 { margin-top: 23px; }
.mt-30 { margin-top: 30px; }
.mt-36 { margin-top: 36px!important; }
.mt-40 { margin-top: 40px; }
.mt-50 { margin-top: 50px; }
.mt-60 { margin-top: 60px; }
.mt-70 { margin-top: 70px; }
.mt-75 { margin-top: 75px; }
.mt-80 { margin-top: 80px; }
.mt-95 { margin-top: 95px; }
.mt-130 { margin-top: 130px; }
.mt-200 { margin-top: 200px; }
.mr-20 { margin-right: 20px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-30 { margin-bottom: 30px; }
.mb-40 { margin-bottom: 40px; }
.mb-60 { margin-bottom: 60px; }
.mb-75 { margin-bottom: 75px; }
.mb-90 { margin-bottom: 90px; }
.mb-100 { margin-bottom: 100px; }
.ml-2 { margin-left: 2px; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-16 { margin-left: 16px; }
.ml-28 { margin-left: 28px; }
.ml-50 { margin-left: 50px; }
.ml-100 { margin-left: 100px; }
.ml-120 { margin-left: 120px; }

/* padding */
.p-25 { padding: 25px; }
.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pr-93 { padding-right: 93px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-25 { padding-top: 25px; }
.pt-30 { padding-top: 30px; }
.pt-40 { padding-top: 40px; }
.pt-50 { padding-top: 50px; }
.pt-60 { padding-top: 60px; }
.pt-80 { padding-top: 80px; }
.pt-120 { padding-top: 120px; }
.pt-130 { padding-top: 130px; }
.pb-3 { padding-bottom: 3px; }
.pb-10 { padding-bottom: 10px; }
.pb-20 { padding-bottom: 20px; }
.pb-25 { padding-bottom: 25px; }
.pb-30 { padding-bottom: 30px; }
.pb-50 { padding-bottom: 50px; }
.pb-60 { padding-bottom: 60px; }
.pb-80 { padding-bottom: 80px; }
.pb-100 { padding-bottom: 100px; }
.pl-0 { padding-left: 0!important; }
.pl-10 { padding-left: 10px; }
.pl-20 { padding-left: 20px; }
.pl-30 { padding-left: 30px; }
.pl-35 { padding-left: 35px; }
.pl-40 { padding-left: 40px; }
.pl-50 { padding-left: 50px; }
.pl-55 { padding-left: 55px; }

/* width */
.w100 { width: 100px; }
.w130 { width: 130px; }
.w140 { width: 140px; }
.w160 { width: 160px; }
.w180 { width: 180px; }
.w225 { width: 225px; }
.w245 { width: 245px; }
.w300 { width: 300px !important; }

/* color */
.c-black { color: #000; }
.c-grey { color: #999; }
.c-blue { color: #2ec1d6; }
.c-dk-blue { color: #0D6EFD; }
.c-red { color: #fd7070; }
.c-darkred { color: #df3636; }
.c-clover { color: #03bca0; }

.text-gray { color: #888888; }
.text-dk-gray { color: grey; }

/* text-align */
.ta-l {text-align: left !important; }
.ta-r {text-align: right !important; }
.ta-c {text-align: center !important; }

/* vertical-align */
.va-t { vertical-align: top !important; }
.va-m { vertical-align: middle !important; }
.va-b { vertical-align: bottom !important; }

/*  */
.content-center { justify-content: space-evenly; }

/* cursor */
.cursor-pointer { cursor: pointer; }

/* 투명도 */
.opacity-00 { opacity: 0; }
.opacity-01 { opacity: 0.1; }
.opacity-02 { opacity: 0.2; }
.opacity-03 { opacity: 0.3; }
.opacity-04 { opacity: 0.4; }
.opacity-05 { opacity: 0.5; }
.opacity-06 { opacity: 0.6; }
.opacity-07 { opacity: 0.7; }
.opacity-08 { opacity: 0.8; }
.opacity-09 { opacity: 0.9; }
.opacity-10 { opacity: 1; }

/* font-size, font-weight */
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.bold { font-weight: 700; }
.strong { font-weight: 900; }
.fw-normal { font-weight: normal; }
.fw-light { font-weight: lighter; }

.fs-0 { font-size: 0 !important; }
.fs-13 { font-size: 13px; }
.fs-14 { font-size: 14px; }
.fs-15 { font-size: 15px; }
.fs-16 { font-size: 16px; }
.fs-17 { font-size: 17px; }
.fs-18 { font-size: 18px; }
.fs-20 { font-size: 20px; }
.fs-22 { font-size: 22px; }
.fs-24 { font-size: 24px; }
.fs-26 { font-size: 26px; }
.fs-28 { font-size: 28px; }
.fs-30 { font-size: 30px; }
.fs-32 { font-size: 32px; }
.fs-34 { font-size: 34px; }
.fs-36 { font-size: 36px; }

/* text-shadow */
.text-border { text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.text-underline { text-decoration: underline; }
.text-linethrough { text-decoration: line-through; }

/* background, position */
.bg-img { background-repeat: no-repeat; background-size: cover; background-position: center; }
.bs-cover { background-size: cover !important; }
.bp-center { background-position: center; }
.bg-fixed { background-attachment: fixed; }

.ps-a { position: absolute !important; }
.ps-r { position: relative !important; }
.ps-f { position: fixed !important; }
.sticky { position: sticky !important; left:0; z-index: 3; }

/* border */
.bd-50 { border-radius: 50% !important; }
.bd-0 { border-radius: 0 !important; }

/* display */
.dp-n { display: none !important; }
.dp-in { display: inline !important; }
.dp-b { display: block !important; }
.dp-ib { display: inline-block !important; }
.dp-tb { display: table !important; }
.dp-tc { display: table-cell !important; }
.dp-f { display: flex !important; }
.dp-if { display: inline-flex !important; }

.align-items-center { align-items: center !important; }
.align-self-center { align-self: center !important; }
.align-items-start { align-items: flex-start !important; }
.align-items-end { align-items: flex-end !important; }

.justify-start { justify-content: flex-start !important; }
.justify-end { justify-content: flex-end !important; }
.justify-between { justify-content: space-between !important; }
.justify-center { justify-content: center !important; }

.flex-column { flex-direction: column !important; }
.flex-row { flex-direction: row !important; }
.flex-wrap { flex-wrap: wrap !important; }
.flex-nowrap { flex-wrap: nowrap !important; }
.flex-center { display: flex; justify-content: center !important; align-items: center !important; position: relative; }
.flex-grow { flex-grow: 1; flex-basis: 1%; }
.flex1 { flex: 1; }
.flex-shrink-none { flex-shrink: 0; }

/* box-shadow */
.box-shadow { box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.07) !important; }
.box-shadow2 { box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16) !important; }

/*  */


