#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    height: 100%;
}

/**
  navi
*/
#nav {
    padding: 4.5rem 30px 4.5rem 30px; /* 상우하좌 */
    margin-bottom: 4.5rem;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: #42b983;
}


/**
  Page-layout
*/
.page-wrap {
    position: relative;
    /*padding-top: 4.5rem;*/
    /*margin-top: 4.5rem;*/
    height: 100vh;
}
.page-wrapper {
    position: relative;
    height: 100vh;
    margin: 0;
}
.page-wrap-grey {
    height: 100%;
    background-color: #F9F9F9;
}
.page-wrap-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.board-wrap {
    /*position: relative;*/
    padding-top: 4.5rem;
    margin-top: 4.5rem;
    height: 100vh;
}
.board-detail-wrap {
    position: relative;
    padding: 10px;
}

/**
  Popup-layout
*/
.popup-container {
    position: relative;
    margin: 0;
}
.my-modal {
    background-color: rgba(0, 0, 0, .7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow: auto;
    margin: 0;
}
.my-modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 50px;
    width: 600px;
    background: #fff;
}
.my-modal-header {
    padding: 16px 16px 0 25px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.29;
    position: relative;
}
.my-modal-header .my-modal-header-icon {
    float: left;
    padding: 0;
    background: transparent;
    border: 0;
}
.my-modal-header .my-modal-header-close {
    float: right;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.my-modal-body {
    padding: 25px 10px 25px 25px;
    min-height: 100%;
    /*min-height: 150px;*/
    /*max-height: 400px;*/
    /*overflow-y: scroll;*/
}
.my-modal-footer {
    padding: 0 16px 16px 25px;
}



/**
  Home
*/
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* RESPONSIVE CSS */
@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/***
    Sign-in
**/
.wrap-signin {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-floating {
    text-align: left;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin .signin-label {
    margin-left: 10px;
}

.form-signin input[type="id"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}






