<template>
  <SlotComponent>
    <template v-slot="slotProps"> ✔️ {{ slotProps.item }} </template>
    <!-- name 속성을 가지는 slot 에 데이터를 삽입하기 위해서는 v-slot 을 사용해야 함 -->
    <!-- v-slot 은 template 태그를 이용해서 쓸 수 있음 -->
  </SlotComponent>
</template>

<script>
import SlotComponent from './SlotComponent.vue'

export default {
  components: {
    SlotComponent,
  },
}
</script>
