<template>
  <div class="page-wrapper">
    <div class="page-wrap-grey">
      <div class="page-wrap-center">
        <div class="row mt-lg-n10 mt-md-n11 mt-n10">

          <div class="flex-center">
            <div id="auth-left">
              <div class="auth-logo">
                <a href="/"></a><h1 class="auth-title"><i class="bi bi-unlock"></i></h1>
              </div>
              <h1 class="auth-title mt-3">Login</h1>
              <p class="auth-subtitle mb-5">Log in with your data that you entered during registration</p>

              <form action="/">
                <div class="form-group position-relative has-icon-left mb-4">
                  <input type="text" class="form-control form-control-xl" placeholder="ID" v-model="user_id">
                  <div class="form-control-icon">
                    <i class="bi bi-person"></i>
                  </div>
                </div>
                <div class="form-group position-relative has-icon-left mb-4">
                  <input type="password" class="form-control form-control-xl" placeholder="Password" v-model="user_pwd" @keypress.enter="login">
                  <div class="form-control-icon">
                    <i class="bi bi-shield-lock"></i>
                  </div>
                </div>
                <div class="form-check form-check-lg d-flex align-items-end">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label text-gray-600 pl-35" for="flexCheckDefault">로그인 상태 유지</label>
                </div>
                <button class="btn btn-primary btn-block btn-lg shadow-lg mt-10">로그인</button>
              </form>
              <div class="mt-5 text-lg fs-11 text-dk-gray">
                <p class="d-flex content-center">
                  <span class="px-3 cursor-pointer c-dk-blue" @click="goPage('sign-up')">회원가입</span>
                  <span class="px-3 cursor-pointer c-dk-blue" @click="goPage('find-id')">아이디 찾기</span>
                  <span class="px-3 cursor-pointer c-dk-blue" @click="goPage('find-pwd')">비밀번호 찾기</span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CryptoJS from 'crypto-js'
import { required } from 'vuelidate/lib/validators'
import { actionType } from '@/store/modules/StoreType'
import axios from "@/api/apis";

export default {
  name: "LoginPage",
  data() {
    return {
      user_id: '',
      user_pwd: '',
      err_msg: ''
    }
  },
  validations: {
    user_id: {
      required
    },
    user_pwd: {
      required
    }
  },
  methods: {
    goPage (page) {
      this.$router.push({ path: page })
    },
    encrypt () {
      const hash = CryptoJS.SHA1(this.user_pwd)
      return CryptoJS.enc.Hex.stringify(hash)
    },
    chkForm () {
      if (this.$v.$invalid) {
        if (!this.$v.user_id.required) {
          this.alert('아이디를 입력해주세요.')
          return false
        }
        if (!this.$v.user_pwd.required) {
          this.alert('비밀번호를 입력해주세요.')
          return false
        }
      }
      return true
    },
    login () {
      let body = {
        user_id: this.user_id,
        user_pwd: this.encrypt()
      }
      axios.login('/login', body).then((resp) => {
        let token = resp.data.token
        localStorage.setItem('access_token', token)
        this.$store.dispatch('getAccountInfo')
        this.$router.push({ path: '/' })
        console.log('[LOGIN] OK ', ', body ::: ', body, ', resp ::: ', resp)
      })
      .catch((err) => {
        console.log('[LOGIN] ERR ', err)
        this.err_msg = err.response.data.message
      })
    },
  },
}
</script>

<style scoped>

</style>
