<template>
  <div class="card h-100 border-2" :class="{ 'border-primary' : selected_appl_id == data.id }">
    <img class="card-img-top" :src="data.image" alt="Image" />
    <div class="card-body">
      <h5 class="card-title">{{ data.name }}</h5>
      <p class="card-text" v-if="data.url != 'null'">
        <a :href="data.url" target="_blank" @click="onClickApplication(data)">클릭</a>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ data.data }}에 등록됨
      <p class="card-text">{{ data.content }}</p></small>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'

export default {
  name: "AppCard",  // 실제 Card 를 그리는 컴포넌트
  props: {
    data: Object
  },
  setup (props) {
    const data = props.data
    const selected_appl_id = ref(-1)

    // 반응형 프록시 객체 selected_appl_id 의 value 값을 업데이트 시킴
    const onClickApplication = (one_data) => {
      // selected_appl_id 값은 props 의 data.id 값과 비교하여 같을 경우 border-primary 클래스를 추가함 (사용자가 어떤 카드를 가장 마지막으로 클릭했는지)
      selected_appl_id.value = one_data.id
    }

    return {
      data,
      onClickApplication,
      selected_appl_id
    }
  }
}
</script>
