<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">1-menu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul :class="{ 'navbar-nav': true, 'me-auto': menu.me_auto }" v-for="menu in menu_category" :key="menu.id">
          <li class="nav-item" v-for="menu_object in menu.value" :key="menu_object.key">
            <!--<a :class="{ 'nav-link': true, active: menu == menu_object.key }" @click="onMovePage($event, menu_object)" href="#">{{ menu_object.value }}</a>-->
            <!--<router-link class="nav-link" :to="menu_object.url">{{ menu_object.value }}</router-link>-->
            <router-link class="nav-link" :to="menu_object.url">{{ menu_object.value }}</router-link>
          </li>
        </ul>
        <!-- 알림 -->
        <ul class="navbar-nav" v-show="notification.id > 0">
          <li class="nav-item">
            <button class="btn btn-danger" type="button" @click="onOpenNotification">&#128226;</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- 알림창 -->
  <teleport to="#notification" v-if="show_notification">
    <div :class="'container notification border border-dark rounded-3 mt-3 p-3 bg-' + notification.type">
      <div class="d-flex" v-if="notification.type">
        <span class="me-auto fs-4 fw-bold text-uppercase text-light">{{ notification.type }}</span>
        <button class="btn fw-bold" type="button" @click="onCloseNotification">&times;</button>
      </div>
      <hr />
      <div class="text-light text-wrap">{{ notification.content }}</div>
    </div>
  </teleport>
</template>

<script>
import { ref, computed, reactive, onMounted } from 'vue'
import { setCookie, getCookie } from '/@utils/cookie'
import useAxios from '/@utils/axios'

export default {
  name: 'NavBar',
  setup () {
    const menu = ref('home')
    const menus = [
      { key: 'home', value: '홈', url: '/home', position: 'left' },
      { key: 'app', value: '애플리케이션', url: '/application', position: 'left' },
      { key: 'me', value: 'Profile', url: '/profile', position: 'right' },
      { key: 'admin', value: 'Admin', url: '/admin', position: 'right' },
      { key: 'board', value: '게시판', url: '/board/list', position: 'left' },
    ]

    // computed 함수를 이용한 계산된 객체.
    // memus 에 들어있는 배열로부터 객체의 position 속성값이 left/right 인 것을 구분함
    const left_menus = computed(() => menus.filter(i => i.position == 'left'))
    const right_menus = computed(() => menus.filter(i => i.position == 'right'))

    /* // 사용자가 메뉴를 클릭했을 때 호출됨.
    // evt: 원래 돔이 발생시키는 이벤트
    // menu_object: 함수 호출 시 동적으로 삽입한 인자. (menus 배열의 한 객체)
    const onMovePage = (evt, menu_object) => {
      if (evt) {
        evt.preventDefault()
      }
      menu.value = menu_object.key
    } */

    let notification = reactive({ id: 0 })
    const show_notification = ref(false)

    const onOpenNotification = (evt) => {
      if (evt) {
        evt.preventDefault()
      }

      show_notification.value = true
    }
    const onCloseNotification = (evt) => {
      if (evt) {
        evt.preventDefault()
      }

      // 오늘 하루 창이 뜨지 않도록, 쿠키에 받은 noti 의 id 값 추가
      setCookie('notification', notification.id, 1)
      notification.id = 0

      show_notification.value = false
    }

    // 마운트 시점에 쿠키로부터 받은 id 값을 서버에 전달하여 알림 데이터를 받을지 말지를 결정
    onMounted(() => {
      const block_noti_id = getCookie('notification') || 0
      const { axiosGet } = useAxios()
      axiosGet(`/db/notification/${block_noti_id}`, (data) => {
        Object.assign(notification, data.data)
      })
    })

    return {
      menu,
      menu_category: [
        { id: 1, me_auto: true, value: left_menus.value },
        { id: 2, me_auto: false, value: right_menus.value }
      ],
      // onMovePage
      notification,
      show_notification,
      onOpenNotification,
      onCloseNotification
    }
  }
}
</script>

<style scoped>
.notification { text-shadow: 2px 2px 2px gray }
</style>
