<template>
  <div>
    <b-icon-exclamation-circle-fill style="color: #007bff;" />
    <b-icon-exclamation-circle-fill style="color: #6610f2;" />
    <b-icon-exclamation-circle-fill style="color: #6f42c1;" />
    <b-icon-exclamation-circle-fill style="color: #e83e8c;" />
    <b-icon-exclamation-circle-fill style="color: #dc3545;" />
    <b-icon-exclamation-circle-fill style="color: #fd7e14;" />
    <b-icon-exclamation-circle-fill style="color: #ffc107;" />
    <b-icon-exclamation-circle-fill style="color: #28a745;" />
    <b-icon-exclamation-circle-fill style="color: #20c997;" />
    <b-icon-exclamation-circle-fill style="color: #17a2b8;" />
  </div>
</template>

<script>
import { BootstrapIconsPlugin } from 'bootstrap-icons-vue'

export default {
  name: "Test",
  components: { BootstrapIconsPlugin },

}
</script>
