<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Vue</title>
  </head>
  <body>
    <div id="app">
        <p style="font-weight: bold">{{ title }}</p>
        <counter></counter>
        <counter></counter>
        <counter></counter>
    </div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
