<template>
  <div id="date">
    {{ date }}
  </div>
  <div id="date2">
    {{ date2 }}
  </div>
</template>

<script>
export default {
  // Option API
  data() {
    return {
      date2: Date().toString(),
    }
  },
  // Composition API
  setup() {
    const date = Date().toString()
    return {
      date,
    }
  },
}
</script>
