<template>
  <toast />
  <nav-bar />
  <!-- 알림이 그려질 영역 -->
  <div id="notification" />
  <!-- 라우팅될 때 컴포넌트를 그려줌 -->
  <router-view></router-view>
</template>

<script>
import NavBar from '/@components/NavBar.vue'
import Toast from '/@components/Toast.vue'
import { ref, provide } from 'vue'

export default {
  name: 'App',
  components: {
    NavBar,
    Toast
  },
  setup () {
    // toast 라는 문자열을 받는 변수
    const toast = ref('')
    provide('toast', toast)
  }
}
</script>

<style scoped>
</style>
