#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: Cambria;
  color: #666;
}

/* Markdown  */
#md > table tbody tr:nth-child(odd) { background-color: #ccc; } /* 홀수라인 */
#md > blockquote { margin-left: 32px; padding-left: 16px; border-left: 4px solid #ccc; }

