<template>
  <form class="m-1 row" @submit="onSubmit">
    <div class="text-right my-2">
      <button class="btn btn-primary btn-sm" type="submit">저장</button>
    </div>
    <div>
      <input class="w-100 my-2" placeholder="제목" v-model="title" required />
    </div>
    <div class="col-sm-6">
      <textarea class="w-100" id="mdTextarea" v-model="content" required></textarea>
    </div>
    <div class="col-sm-6 text-left">
      <markdown class="border" id="md" :source="content" />
    </div>
  </form>
</template>

<script>
import { ref } from 'vue'
import useAxios from '/@utils/axios'
import Markdown from 'vue3-markdown-it'

export default {
  name: "BoardWrite",
  components: {
    Markdown
  },
  setup () {
    const { axiosPost } = useAxios()
    const title = ref("")
    const content = ref("")

    const onSubmit = (evt) => {
      if (evt) {
        evt.preventDefault()
      }

      if (content.value.length > 0) {
        axiosPost('/db/blog',
            {
              title: title.value,
              content: content.value,
              type: 'md',
            },
            (data) => {
              // console.log()
              console.log('## 제목: ', title.value, ' ## 본문: ', content.value)
              console.log('저장 되었습니다.')
              title.value = content.value = ''
            },
            (data) => {
              console.error('저장에 실패하였습니다.')
            }
        )
      } else {
        console.error('내용을 입력하세요.')
      }
    }

    return {
      title,
      content,
      onSubmit
    }
  }
}
</script>

<style scoped>
#mdTextarea { height: 500px; }
#md { height: 500px; overflow: scroll; }
</style>
