<template>

  <div class="container-fluid">
    <div class="row">
<!--      <div class="col-12">-->
        <div class="box-content">
          <h5 class="box-title">Board</h5>

          <!-- Table with hoverable rows -->
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Title</th>
              <th scope="col">User</th>
              <th scope="col">Reg-Date</th>
              <th scope="col">Upd-Date</th>
            </tr>
            </thead>
            <tbody>
              <tr v-for="(data, idx) in boards" :key="idx">
                <td scope="row">{{ data.idx }}</td>
<!--                <td style="width:40%;"><a href="https://gitlab.com/neey3/nyf">{{ data.title }}</a></td>-->
                <td style="width:40%;"><a v-on:click="fnView(`${data.idx}`)">{{ data.title }}</a></td>
                <td>{{ data.author }}</td>
                <td>{{ data.rgdt }}</td>
                <td>{{ data.updt }}</td>
              </tr>
            </tbody>
          </table>
          <!-- End Table with hoverable rows -->

          <!-- Buttons -->
          <nav class="d-flex justify-content-end">
            <button type="button" class="btn btn-success btn-sm">등록</button>
          </nav>
          <!-- End Buttons -->

        </div>
<!--      </div>-->
    </div>
  </div>

</template>

<script>
import {computed, onMounted, ref} from 'vue'
import useAxios from '/@utils/axios'
import { useBoard } from '../../compositions/useBoard'

export default {
  name: "BoardList",
  components: {
    useBoard
  },
  setup () {
    const menu = ref('boardList')
    const menus = [
      { key: 'boardList', value: '게시판', url: '/board/list', position: 'left' },
    ]

    // computed 함수를 이용한 계산된 객체.
    // memus 에 들어있는 배열로부터 객체의 position 속성값이 left/right 인 것을 구분함
    const left_menus = computed(() => menus.filter(i => i.position == 'left'))
    const right_menus = computed(() => menus.filter(i => i.position == 'right'))



    const {
      boards,
      board_count,
      setBoards
    } = useBoard()

    const { axiosGet } = useAxios()

    onMounted(() => {
      if (!board_count.value) {
        axiosGet('/db/board/list', (data) => {
          setBoards(data.data)
        })
      }
    })

    return {
      boards: boards(),
      board_count
    }
  }
}
</script>

<style scoped>

</style>



<!--



<script>
import { onMounted } from 'vue'
import useAxios from '/@utils/axios'
import { useBoard } from '../../compositions/useBoard'

export default {
  name: "BoardList",
  components: {
    useBoard
  },
  setup () {
    const {
      boards,
      board_count,
      setBoards
    } = useBoard()

    const { axiosGet } = useAxios()

    onMounted(() => {
      if (!board_count.value) {
        axiosGet('/db/board/list', (data) => {
          setBoards(data.data)
        })
      }
    })

    return {
      boards: boards(),
      board_count
    }
  }
}
</script>

-->

<!--
<script>
export default {
  name: "BoardList",
  data() { //변수생성
    return {
      requestBody: {}, //리스트 페이지 데이터전송
      list: {}, //리스트 데이터
      no: '', //게시판 숫자처리
      paging: {
        block: 0,
        end_page: 0,
        next_block: 0,
        page: 0,
        page_size: 0,
        prev_block: 0,
        start_index: 0,
        start_page: 0,
        total_block_cnt: 0,
        total_list_cnt: 0,
        total_page_cnt: 0,
      }, //페이징 데이터
      page: this.$route.query.page ? this.$route.query.page : 1,
      size: this.$route.query.size ? this.$route.query.size : 10,
      keyword: this.$route.query.keyword,
      paginavigation: function () { //페이징 처리 for문 커스텀
        let pageNumber = [] //;
        let start_page = this.paging.start_page;
        let end_page = this.paging.end_page;
        for (let i = start_page; i <= end_page; i++) pageNumber.push(i);
        return pageNumber;
      }
    }
  },
  mounted() {
    this.fnGetList()
  },
  methods: {
    fnGetList() {
      this.requestBody = { // 데이터 전송
        keyword: this.keyword,
        page: this.page,
        size: this.size
      }
      this.$axios.get(this.$serverUrl + "/board/list", {
        params: this.requestBody,
        headers: {}
      }).then((res) => {
        this.list = res.data  //서버에서 데이터를 목록으로 보내므로 바로 할당하여 사용할 수 있다.
      }).catch((err) => {
        if (err.message.indexOf('Network Error') > -1) {
          alert('네트워크가 원활하지 않습니다.\n잠시 후 다시 시도해주세요.')
        }
      })
    }
  }
}
</script>
-->
