<template>
  <p>{{ wch_opt }}<span><button @click="wch_opt++">옵션API++</button></span></p>
  <p>{{ wch1 }}<span><button @click="wch1++">컴포지션(1)++</button></span></p>
  <p>{{ wch2 }}<span><button @click="wch2++">컴포지션(2)++</button></span></p>
</template>

<script>
import { ref, watch, watchEffect } from 'vue'

export default {
  //Options API
  data() {
    return {
      wch_opt: 0,
    }
  },
  watch: {
    wch_opt: (cur, prev) => {
      console.log('[### Option API Watch                     ]', prev, ' ==> ', cur)
    }
  },

  // Composition API
  setup() {
    // Watch & WatchEffect: 데이터 변화를 감지하여 콜백함수 호출
    const wch1 = ref(0)
    const wch2 = ref(0)
    const wch_state = ref('실행중')
    watch(
        wch1,
        (cur, prev) => {
          console.log('[### Composition API Watch                ]', + prev + ' ==> ' + cur)
        },
        {
          immediate: true // 변수의 초기값 감시 가능
        }
    )
    watch([wch1, wch2], (cur, prev) => {
      console.log('[### Composition API Multiple Watch       ] ' + prev + ' ==> ' + cur)
    })
    const stop = watchEffect( // 초기 변경값부터 감시를 시작함
        () => {
          console.log('[### Composition API watchEffect Called   ] ' + wch2.value)
        },
        {
          // pre: 돔이 업데이트하기 전에 콜백함수를 호출(default), post: 업데이트 후에 호출
          flush: 'post'
        }
    )
    const wch_stop = () => {
      wch_state.value = '중지'
      stop()
    }

    return {
      wch1,
      wch2,
      wch_state,
      wch_stop
    }
  },
}
</script>

<style scoped>
span {
  padding-left: 10px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
