<template>
  <div class="row">
    <div class="col">
      <span class="span">&nbsp;</span>&nbsp;
      <strong>{{ state }}</strong>
    </div>
    <div class="col">
      <div class="btn-group float-end">
        <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">리스트 필터</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li v-for="key in Object.keys(filters)" :key="key"> <!-- Object.keys 함수로 객체의 키 값들만 순회함 -->
            <a class="dropdown-item" @click="filter = key">{{ filters[key].str }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TodoListMenu"  // TodoList 에 전달할 값(data)을 정하는 컴포넌트
}
</script>

<script setup>
import { ref, watch, computed, inject } from 'vue'

// 기존에 emits 옵션으로 설정했던 change-filter emit 을 defineEmits 함수로 선언함
const emit = defineEmits(['change-filter'])
const filters = inject('filters')
const filter = ref(0)

const state = computed(() => {
  return filters[filter.value].str
})
watch(
    () => filter.value,
    (filter) => {
      emit('change-filter', filter)
    }
)
</script>

<style scoped>
  .span { background-color: blue }
</style>
