<template>
  <p><input type="text" :value="abbr" /></p><!-- v-bind 는 템플릿으로 변수값 변경 안됨 -->
  <p><input type="text" v-model="normal" /></p><!-- v-model 은 가능 -->

  <hr />
  <p><span>mouse on >>>  </span><abbr :title="normal">{{ abbr }}</abbr></p>

  <hr />
  <div>
    <ol>
      <li v-for="item in items">{{ item }}</li>
    </ol>
  </div>

  <hr />
  <p><span>** small_opt **</span><span v-for="item in arr_opt_small" :key="item.idx">{{ item.text }}</span></p>
  <p><span>** big_opt **</span><span v-for="item in arr_opt_big" :key="item.idx">{{ item.text }}</span></p>
  <p><span>** small **</span><span v-for="item in arr_small" :key="item.idx">{{ item.text }}</span></p>
  <p><span>** big **</span><span v-for="item in arr_big" :key="item.idx">{{ item.text }}</span></p>

  <hr />
  <p>{{ wch_opt }}<span><button @click="wch_opt++">옵션++</button></span></p>
  <p>{{ wch1 }}<span><button @click="wch1++">컴포지션(1)++</button></span></p>
  <p>{{ wch2 }}<span><button @click="wch2++">컴포지션(2)++</button></span></p>

</template>

<script>
// ref 컴포지션 API
import {ref, reactive, computed, watch, watchEffect, createApp} from 'vue'

export default {
  /** Options API */
  data() {
    return {
      arr_opt: [
        { idx: 1, text: 'AAA' },
        { idx: 2, text: 'BBB' },
        { idx: 3, text: 'CCC' },
        { idx: 4, text: 'DDD' }
      ],
      wch_opt: 0,
    }
  },
  computed: {
    arr_opt_small() {
      return this.arr_opt.filter(i => i.idx <= 3)
    },
    arr_opt_big() {
      return this.arr_opt.filter(i => i.idx > 3)
    }
  },
  watch: {
    wch_opt: (cur, prev) => {
      console.log('[### Option API Watch                     ]', prev, ' ==> ', cur)
    }
  },

  /** Composition API */
  setup() {
    // 반응형 변수
    const abbr = ref('www')
    const normal = ref('World Wide Web')

    // v-for 반복문
    // const items = reactive([ '1번', '2번', '3번' ])
    const items = reactive({ 1: '1번', 2: '2번', 3: '3번' })

    // Computed 속성
    const arr = reactive([
      { idx: 1, text: 'AAA' },
      { idx: 2, text: 'BBB' },
      { idx: 3, text: 'CCC' },
      { idx: 4, text: 'DDD' }
    ])
    const arr_small = computed(() => {
      return arr.filter(i => i.idx <= 3)
    })
    const arr_big = computed(() => {
      return arr.filter(i => i.idx > 3)
    })

    // Watch & WatchEffect: 데이터 변화를 감지하여 콜백함수 호출
    const wch1 = ref(0)
    const wch2 = ref(0)
    const wch_state = ref('실행중')
    watch(
        wch1,
        (cur, prev) => {
          console.log('[### Composition API Watch                ]', + prev + ' ==> ' + cur)
        },
        {
          immediate: true // 변수의 초기값 감시 가능
        }
    )
    watch([wch1, wch2], (cur, prev) => {
      console.log('[### Composition API Multiple Watch       ] ' + prev + ' ==> ' + cur)
    })
    const stop = watchEffect( // 초기 변경값부터 감시를 시작함
        () => {
          console.log('[### Composition API watchEffect Called   ] ' + wch2.value)
        },
        {
          // pre: 돔이 업데이트하기 전에 콜백함수를 호출(default), post: 업데이트 후에 호출
          flush: 'post'
        }
    )
    const wch_stop = () => {
      wch_state.value = '중지'
      stop()
    }

    return {
      abbr,
      normal,
      items,
      arr_small,
      arr_big,
      wch1,
      wch2,
      wch_state,
      wch_stop
    }
  }
}
</script>

<style scoped>
span {
  font-size: 0.8em;
  padding-left: 10px;
  padding-right: 10px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
