<template>
  <header>
    <hgroup class="my-5">
      <h4>ㅎㅇㅎㅇ</h4>
      <em>{{ today }}</em>
    </hgroup>
  </header>
  <todo-list-container />
</template>

<script>
// SFC 의 name, inheritAttrs, 사용자옵션 등은 따로 script 태그에 작성함
export default {
  name: "App"
}
</script>

<script setup>
import { inject } from 'vue'
import TodoListContainer from './components/TodoListContainer.vue'

const today = inject('today')
// <script setup> 에서는 컴포넌트 선언이나 변수를 따로 return 하지 않아도 vue 가 자동으로 설정해줌
</script>

<style scoped>
hgroup {
  text-align: center;
  font-family: "Arial Bold";
}
hgroup h4 {
  font-weight: bolder;
}
</style>
