<template>
  <main>
    <div v-for="(todo, idx) in data" :key="todo.id">
      <div class="input-group my-2 input-group-sm">
        <div class="input-group-text">
          <input class="form-check-input mt-0" type="checkbox" :checked="todo.completed" :disabled="todo.completed" @click="completeTodo(todo.id)" />
        </div>
        <div class="input-group-text">
          <input class="form-input mt-0" type="date" :min="today" :value="todo.date" disabled />
        </div>
        <input class="form-control" type="text" :value="todo.job" />
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">관리</button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li v-for="item in menu" :key="item.str">
            <a class="dropdown-item" @click="item.func(todo.id)">{{ item.str }}</a>
          </li>
        </ul>
      </div>
      <div class="col border border-secondary" v-show="idx + 1 < data.length" />
    </div>
  </main>
</template>

<script>
export default {
  name: "TodoList"  // 데이터를 직접적으로 보여주는 컴포넌트. Props 로 전달받은 data 배열을 그려줌
}
</script>

<script setup>
import { inject } from 'vue'

// 기존에 props 옵션에서 설정하던 props 를 defineProps 함수 안으로 옮김
const props = defineProps({
  data: {
    type: Array,
    default: []
  }
})

const removeTodo = inject("removeTodo")
const completeTodo = inject("completeTodo")
const today = inject("today")
const menu = [
  {
    str: '삭제',      // 메뉴명
    func: removeTodo // 함수명
  },
  {
    str: '완료',
    func: completeTodo
  }
]
</script>
