<template>

  <div class="popup-container">
    <div class="">
      <div class="my-modal" v-show="visible" @click.self="handleWrapperClick">
        <div class="my-modal-dialog">
          <div class="my-modal-header">
            <span>{{ title }}</span>
          </div>
          <div class="my-modal-body">
            <slot></slot>
          </div>
          <div class="my-modal-footer">
            <button class="btn btn-info btn-block btn-lg shadow-lg mt-5p" @click="$emit('update:visible', !visible)">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "SamplePopup",
  props: {
    visible: {
      type: Boolean,
      require: true,
      default: false
    },
    title: {
      type: String,
      require: false,
    },
  },
  methods: {
    handleWrapperClick(){
      this.$emit('update:visible', false)
    },
  },
}
</script>

<style scoped>
</style>
