<template>

  <div class="popup-container">
    <div class="">
      <div class="my-modal" v-show="visible" @click.self="handleWrapperClick">
        <div class="my-modal-dialog">
          <div class="my-modal-header">
            <button class="my-modal-header-icon"></button>
            <span class=""><i class="bi bi-pin-map-fill pr-15"></i>{{ title }}</span>
            <button class="my-modal-header-close" @click="$emit('update:visible', !visible)"><i class="bi bi-x"></i></button>
          </div>

          <!--
          <div class="my-modal-body">
            <slot></slot>
            <p>
              우편번호
            </p>
            <p>
              주소1:  시 군 구 동 번지
            </p>
            <p>
              주소2:  상세주소
            </p>
          </div>
          -->
          <div class="my-modal-body">
            <vue-daum-postcode style="height: 445px; overflow-y:scroll;" @complete="complete" />
          </div>

          <div class="my-modal-footer">
            <button class="btn btn-info btn-block btn-lg shadow-lg mt-5p" @click="$emit('confirm')">확인</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { VueDaumPostcode } from 'vue-daum-postcode'

export default {
  name: "SrchPostCodePopup",
  components: {
    VueDaumPostcode
  },
  props: {
    text: {
      type: String,
      default: () => {
        return '우편번호검색'
      }
    },
    visible: {
      type: Boolean,
      require: true,
      default: false
    },
    title: {
      type: String,
      require: false,
    },
  },
  data () {
    return {
      isOpen: false
    }
  },
  methods: {
    handleWrapperClick(){
      this.$emit('update:visible', false)
    },
    complete (result) {
      this.$emit('close', result)
    },
    open () {
      return new Promise(resolve => {
        this.isOpen = true
      })
    },
    close () {
      this.isOpen = false
      this.$destroy(true)
    }
  },
}
</script>

<style scoped>
</style>
