<template>
  <div class="board-wrap">

    <!-- Basic Horizontal form layout section start -->
    <div class="row match-height board-detail-wrap">
      <div class="col-md-12 col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Detail</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <form class="form form-horizontal">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-4">
                      <label>First Name</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input type="text" id="first-name" class="form-control" name="fname" placeholder="First Name">
                    </div>
                    <div class="col-md-4">
                      <label>Email</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input type="email" id="email-id" class="form-control" name="email-id" placeholder="Email">
                    </div>
                    <div class="col-md-4">
                      <label>Mobile</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input type="number" id="contact-info" class="form-control" name="contact" placeholder="Mobile">
                    </div>
                    <div class="col-md-4">
                      <label>Password</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input type="password" id="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="col-12 col-md-8 offset-md-4 form-group">
                      <div class='form-check'>
                        <div class="checkbox">
                          <input type="checkbox" id="checkbox1" class='form-check-input'
                                 checked>
                          <label for="checkbox1">Remember Me</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                      <button type="reset"
                              class="btn btn-light-secondary me-1 mb-1">Reset</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- // Basic Horizontal form layout section end -->

  </div>
</template>

<script>
export default {
  name: "BoardDetail",
  components: {
  },
  props: {
    idx: {
      type: Number,
      default: () => {
        return ''
      }
    }
  },
  created() {
    console.log('## board-idx : ', this.idx)
    this.loadDetail()
  },
  data () {
    return {
      boardDetail: {}
    }
  },
  methods: {
    loadDetail () {
      let params = {
        idx: this.idx
      }
      // return this.$api.api.getBoardDetail(params).then(resp => {
      //   console.log(resp.data)
      //   if (resp.data.result) {
      //     this.boardDetail = resp.data.data
      //   }
      // }).catch(error => {
      //   console.log(error)
      // })
    }
  }
}
</script>

<style scoped>

</style>
