<template>
  <div class="board-wrap">

    <!-- Basic Horizontal form layout section start -->
    <div class="row match-height board-detail-wrap">
      <div class="col-md-12 col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Register</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <form class="form form-horizontal">
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Title</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input type="text" id="title" class="form-control" name="title" placeholder="Title">
                    </div>
                    <div class="col-md-4">
                      <label>Contents</label>
                    </div>
                    <div class="col-md-8 form-group">
                      <input type="text" id="contents" class="form-control" name="contents" placeholder="Contents" style="min-height: 50vh; overflow-y:scroll;">
                    </div>
                    <div class="col-12 col-md-8 offset-md-4 form-group">
                      <div class='form-check'>
                        <div class="checkbox">
                          <input type="checkbox" id="checkbox1" class='form-check-input' checked>
                          <label for="checkbox1">Check</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 d-flex justify-content-end">
                      <button type="button" class="btn btn-light-secondary me-1 mb-1">Back</button>
                      <button type="reset" class="btn btn-light-secondary me-1 mb-1">Reset</button>
                      <button type="submit" class="btn btn-primary me-1 mb-1">Register</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- // Basic Horizontal form layout section end -->

  </div>
</template>

<script>
export default {
  name: "BoardRegister",
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>

<style scoped>

</style>
