<template>
  <div class="board-wrap">
    <!-- List group navigation start -->
    <section class="list-group-navigation">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">List</h4>
            </div>
            <!-- nav-type-1 -->
            <div class="card-content">
              <div class="card-body">
                <div class="list-group list-group-horizontal-sm mb-1 text-center" role="tablist">
                  <a class="list-group-item list-group-item-action active" id="list-sunday-list"
                     data-bs-toggle="list" href="#list-sunday" role="tab">Option 1</a>
                  <a class="list-group-item list-group-item-action" id="list-monday-list"
                     data-bs-toggle="list" href="#list-monday" role="tab">Option 2</a>
                  <a class="list-group-item list-group-item-action" id="list-tuesday-list"
                     data-bs-toggle="list" href="#list-tuesday" role="tab">Option 3</a>
                </div>
              </div>
            </div>
            <!-- nav-type-2 -->
            <div class="card-content">
              <div class="card-body">
                <div class="row">
                  <!-- [LEFT] start -->
                  <div class="col-12 col-sm-12 col-md-2">
                    <div class="list-group cursor-pointer" role="tablist">
                      <a class="list-group-item list-group-item-action active" id="home" data-bs-toggle="list" role="tab" @click="getTabName('Home')">Home</a>
                      <a class="list-group-item list-group-item-action" id="category" data-bs-toggle="list" role="tab" @click="getTabName('Category')">Category</a>
                      <a class="list-group-item list-group-item-action" id="products" data-bs-toggle="list" role="tab" @click="getTabName('Products')">Products</a>
                      <a class="list-group-item list-group-item-action" id="collection" data-bs-toggle="list" role="tab" @click="getTabName('Collection')">Collection</a>
                      <a class="list-group-item list-group-item-action" id="profile" data-bs-toggle="list" role="tab" @click="getTabName('Profile')">Profile</a>
                      <a class="list-group-item list-group-item-action" id="messages" data-bs-toggle="list" role="tab" @click="getTabName('Messages')">Messages</a>
                      <a class="list-group-item list-group-item-action" id="settings" data-bs-toggle="list" role="tab" @click="getTabName('Settings')">Settings</a>
                    </div>
                  </div>
                  <!-- [LEFT] end -->
                  <!-- [RIGHT] start -->
                  <div class="col-12 col-sm-12 col-md-10 mt-1">
                    <div class="tab-content text-justify" id="nav-tabContent">
                      <!-- Table start -->
                      <div class="section">
                        <div class="row" id="table-hover-row">
                          <div class="col-12">
                            <div class="card">
                              <div class="card-header">
                                <h4 class="card-title">{{ page }}</h4>
                              </div>
                              <div class="card-content">
                                <div class="card-body">
                                  <div class="tab-pane show active" id="list-home" role="tabpanel" aria-labelledby="page">
                                    <board-table :boardList="boardList" :page="page" />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Table end -->
                    </div>
                  </div>
                  <!-- [RIGHT] end -->
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- List group navigation ends -->

  </div>
</template>

<script>
import BoardTable from "@/components/board/component/BoardTable";

export default {
  name: "BoardList",
  components: {
    BoardTable
  },
  created() {
    this.loadList()
  },
  data () {
    return {
      page: 'Home',
      boardList: {}
    }
  },
  methods: {
    getTabName (tab) {
      this.page = tab
    },
    loadList () {
      let tmp = [
        { idx: 1, title: 'Animation', type: 'Remote', area: 'Austin/Texas', id: 'Morgan Vanblum', date: '2022-08-01'},
        { idx: 2, title: 'Animation', type: 'Remote', area: 'Seoul/Korea', id: 'Ashley Boul', date: '2022-08-02'},
        { idx: 3, title: 'Graphic concepts', type: 'Remote', area: 'Shanghai/China', id: 'Tiffani Blogz', date: '2022-08-03'},
        { idx: 4, title: 'Animation', type: 'Remote', area: 'Austin/Texas', id: 'Michael Right', date: '2022-08-04'},
        { idx: 5, title: 'UI/UX', type: 'Remote', area: 'Austin/Texas', id: 'Mickey Mice', date: '2022-08-05'}
      ]
      this.boardList = tmp
    }
  }
}
</script>

<style scoped>

</style>
