<template>
  <p><span class="title">small(opt) *** </span><span v-for="item in arr_opt_small" :key="item.idx">{{ item.text }}</span></p>
  <p><span class="title">big(opt) *** </span><span v-for="item in arr_opt_big" :key="item.idx">{{ item.text }}</span></p>
  <p><span class="title">small *** </span><span v-for="item in arr_small" :key="item.idx">{{ item.text }}</span></p>
  <p><span class="title">big *** </span><span v-for="item in arr_big" :key="item.idx">{{ item.text }}</span></p>
</template>

<script>
import { reactive, computed } from 'vue'

export default {
  /** Options API */
  data() {
    return {
      arr_opt: [
        { idx: 1, text: 'AAA' },
        { idx: 2, text: 'BBB' },
        { idx: 3, text: 'CCC' },
        { idx: 4, text: 'DDD' }
      ],
      wch_opt: 0,
    }
  },
  computed: {
    arr_opt_small() {
      return this.arr_opt.filter(i => i.idx <= 3)
    },
    arr_opt_big() {
      return this.arr_opt.filter(i => i.idx > 3)
    }
  },

  /** Composition API */
  setup() {
    const arr = reactive([
      { idx: 1, text: 'AAA' },
      { idx: 2, text: 'BBB' },
      { idx: 3, text: 'CCC' },
      { idx: 4, text: 'DDD' }
    ])
    const arr_small = computed(() => {
      return arr.filter(i => i.idx <= 3)
    })
    const arr_big = computed(() => {
      return arr.filter(i => i.idx > 3)
    })

    return {
      arr_small,
      arr_big
    }
  }
}
</script>

<style scoped>
.title {
  font-weight: bold;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
</style>
