<template>
  <button v-bind="$attrs" :type="type" :class="classes" ref="button"><!-- $attr: Props 에 정의되지 않은 속성 -->
    <slot></slot>
  </button>
  <br />
</template>

<script>
import { ref, onMounted } from 'vue'

export default {
  props: {
    type: {
      default: 'button',
      validator: (value) => {
        // button, submit, reset 을 제외한 타입은 에러로 처리함
        const allowed = ['button', 'submit', 'reset']
        return allowed.includes(value)
      }
    },
    sm: Boolean,
    md: {
      type: Boolean,
      default: true // Boolean 타입은 기본값을 지정해주지 않으면 false 로 처리된다
    },
    lg: Boolean,
    pill: Boolean
  },
  setup(props, context) {
    const classes = []
    const button = ref(null) // 컴포넌트가 마운트된 시점부터 button 이라는 변수에 <button> 엘리먼트가 들어가게 됨 > 엘리먼트 본연의 기능을 바로 접근할 수 있어 매우 편리!

    // Props 로 처리되는 변수들
    // ㄴ4가지 속성이 true 인지 여부를 판단하여 classes 배열에 클래스명을 추가한다
    if (props.sm) {
      classes.push('sm')
    } else if (props.lg) {
      classes.push('lg')
    } else {
      classes.push('md')
    }
    if (props.pill) {
      classes.push('pill')
    }

    onMounted(() => {
      // Non-Props 로 처리되는 변수들
      Object.keys(context.attrs).forEach(attr => {
        if (attr.startsWith('text-')) {
          button.value.style.color = attr.substring(5)
        }
        if (attr.startsWith('background-')) {
          button.value.style.backgroundColor = attr.substring(11)
        }
      })
    })

    return {
      classes,
      button
    }

  }
}
</script>

<style scoped>
button {
  outline: none;
  min-width: 50px;
}
.sm {
  height: 20px;
  font-size: 15px;
}
.md {
  height: 30px;
  font-size: 20px;
}
.lg {
  height: 40px;
  font-size: 25px;
}
.pill {
  border-radius: 16px;
}
</style>
