<template>
  <header id="navi" class="fixed-top">

    <nav class="navbar navbar-expand-md py-2 bg-dark border-bottom">
      <div class="container-fluid">
        <ul class="nav me-auto">
          <li class="nav-item" @click="goPage('BoardList')"><a href="#" class="nav-link link-light px-2 active">Board</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-light px-2" aria-current="page">Category</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-light px-2">Products</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-light px-2">Collection</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-light px-2">Focus</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-light px-2">Contacts</a></li>
        </ul>
        <ul class="nav">
          <li class="nav-item"><a href="/sign-upn" class="nav-link link-light px-2">Sign up</a></li>
          <li class="nav-item"><a href="/login" class="nav-link link-light px-2" @click="login">Login</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link link-light px-2" @click="logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="navbar py-3 mb-4 border-bottom bg-light">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">
          <i class="bi bi-2-square-fill fs-2 pe-2"></i>
          <span class="fs-4">NY:L</span>
        </a>
        <div class="d-flex">
            <div class="mb-lg-0 me-lg-3">
              <form class="">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
              </form>
            </div>
            <div class="d-flex dropdown text-center">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>

  </header>
</template>

<script>
import { actionType } from "@/store/modules/StoreType";
import CryptoJS from "crypto-js";
import { required } from "vuelidate/lib/validators";

export default {
  name: "NavBar",
  data() {
    return {
      user_id: '',
      user_pwd: '',
      err_msg: ''
    }
  },
  validations: {
    user_id: {
      required
    },
    user_pwd: {
      required
    }
  },
  methods: {
    goPage (page) {
      this.$router.push({ name: page })
    },
    /** login */
    login () {
      if (!this._isInvalidateInputForm()) {
        console.log('[INPUT-FORM-ERR]')
        return
      }
      let bodyData = {
        user_id: this.user_id,
        user_pwd: this.encrypt()
      }
      this.$store.dispatch(actionType.ACTION_LOGIN, bodyData).then((result) => {
        if (result) {
          let defaultPath = '/';

          if (this.$store.getters.userData.level == 1) {
            defaultPath = '/admin/list';
          } else if (this.$store.getters.userData.level == 2) {
            defaultPath = '/user/list'
          }

          this.$router.push({ path: defaultPath })
        }
      }).catch(error => {
        switch (error.status) {
          case 503: this.err_msg = 'Internal Server Error'; break;
          case 401: this.err_msg = 'Cannot Find Admin Info'; break;
          case 403: this.err_msg = 'Not Exist Admin Info'; break;
          default: this.err_msg = 'Fail To Login'
        }
      })
    },
    encrypt () {
      const hash = CryptoJS.SHA1(this.user_pwd)
      return CryptoJS.enc.Hex.stringify(hash)
    },
    _isInvalidateInputForm () {
      if (this.$v.$invalid) {
        if (!this.$v.user_id.required) {
          this.alert('ID를 입력해주세요.')
          return false
        }
        if (!this.$v.user_pwd.required) {
          this.alert('PW를 입력해주세요.')
          return false
        }
      }
      return true
    },
    /** logout */
    logout () {
      this.$store.dispatch(actionType.ACTION_LOGOUT).then(() => {
        console.log('[LOGOUT] OK')
        this.$router.replace({ path: '/' })
      }).catch((e) => {
        console.log(e)
        this.alert('Fail To Logout')
      })
    }
  }
}
</script>

<style scoped>
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
.text-small {
  font-size: 85%;
}
.dropdown-toggle {
  outline: 0;
}
</style>
